n8n-workflows/pokemon/pokemon-bhn-vintage-sgc-unlimited.json
{"updatedAt":"2026-05-23T07:13:30.269Z","createdAt":"2026-05-23T07:09:25.177Z","id":"1U8ae6g00F6dunGj","name":"POKEMON-BHN | VINTAGE-SGC-UNLIMITED","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0,30 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-736,400],"id":"b1b286b6-6c3c-44e5-ad2f-59bb41af2efe","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.ebay.com/identity/v1/oauth2/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Authorization","value":"Basic SGF5ZGVuSGEtVEVBTVJPQ0stUFJELTgxODNlYzJlMy1lOGQ1OTU5OTpQUkQtMTgzZWMyZTMxZTJiLTUyMDMtNGZiMi1hZTE4LTY2YTQ="}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"https://api.ebay.com/oauth/api_scope"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-512,400],"id":"608522d4-6896-4ff4-b501-514ec4197b4a","name":"eBay OAuth Token"},{"parameters":{"jsCode":"const token = $input.first().json.access_token;\nreturn [{ json: { bearer_token: token } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,400],"id":"68fe92a7-2c4a-4cfa-bd97-e0600681fce4","name":"Extract Bearer Token"},{"parameters":{"jsCode":"const allItems = [];\n\nfor (const input of $input.all()) {\n  const items = input.json.itemSummaries || [];\n  for (const item of items) {\n    allItems.push({\n      json: {\n        item_id: item.itemId,\n        title: item.title,\n        card_name: item.title,\n        listed_price: parseFloat(item.price?.value || 0),\n        currency: item.price?.currency ||item.currentBidPrice?.currency || 'USD',\n        current_bid: parseFloat(item.currentBidPrice?.value || 0),\n        bid_count: parseInt(item.bidCount || 0),\n        shipping: parseFloat(item.shippingOptions?.[0]?.shippingCost?.value || 0),\n        transaction_type: item.buyingOptions?.includes('AUCTION') ? 'AUCTION' : 'BUY_IT_NOW',\n        obo_available: item.buyingOptions?.includes('BEST_OFFER') || false,\n        obo_min_price: parseFloat(item.minimumPriceToBid?.value || 0),\n        returns_accepted: item.returnTerms?.returnsAccepted || false,\n        set_name: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('TEAM ROCKET')) return 'Team Rocket';\n          if (t.includes('GYM CHALLENGE')) return 'Gym Challenge';\n          if (t.includes('GYM HEROES') || t.includes('GYM HERO')) return 'Gym Heroes';\n          if (t.includes('FOSSIL')) return 'Fossil';\n          if (t.includes('JUNGLE')) return 'Jungle';\n          if (t.includes('BASE SET') || t.includes('BASE')) return 'Base';\n          return 'Unknown';\n        })(),\n        grader: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('SGC')) return 'SGC';\n    if (t.includes('CGC')) return 'CGC';\n    if (t.includes('PSA')) return 'PSA';\n    if (t.includes('BGS') || t.includes('BECKETT')) return 'BGS';\n          return 'Raw';\n        })(),\n        grade: (() => {\n          const t = item.title || '';\n          // 1-100 scale: legacy SGC slabs. Map to 1-10 equivalent at parse time\n    // so ebay_listings.grade stays consistent with master_grade_catalog vocab.\n    const sgcOld = t.match(/SGC[\\s-]*(100|9[02468]|8[02468])\\b/i);\n    if (sgcOld) {\n      const v = parseInt(sgcOld[1]);\n      if (v >= 98) return 10;\n      if (v >= 96) return 9.5;\n      if (v >= 92) return 9;\n      if (v >= 88) return 8.5;\n      if (v >= 84) return 8;\n      if (v >= 80) return 7.5;\n    }\n    const match = t.match(/\\b(10|9\\.5|9|8\\.5|8|7\\.5|7)\\b/);\n    return match ? parseFloat(match[1]) : null;\n        })(),\n        language: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('ITALIAN') || t.includes('ITALIANO')) return 'Italian';\n          if (t.includes('GERMAN') || t.includes('DEUTSCH')) return 'German';\n          if (t.includes('JAPANESE') || t.includes('JAPAN')) return 'Japanese';\n          if (t.includes('FRENCH') || t.includes('FRANCAIS')) return 'French';\n          if (t.includes('SPANISH') || t.includes('ESPANOL')) return 'Spanish';\n          if (t.includes('KOREAN')) return 'Korean';\n          return 'English';\n        })(),\n        seller_username: item.seller?.username,\n        seller_feedback: item.seller?.feedbackScore,\n        seller_feedback_pct: parseFloat(item.seller?.feedbackPercentage || 0),\n        image_url: item.image?.imageUrl,\n        item_url: item.itemHref,\n        listing_url: item.itemWebUrl,\n        condition: item.condition,\n        item_creation_date: item.itemCreationDate || null,\n        listed_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn allItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,112],"id":"768cd72d-0bd3-4322-a937-2b3002a3d545","name":"Parse & Filter Fields","alwaysOutputData":false,"notesInFlow":true,"notes":"PARSE & FILTER FIELDS — Node Documentation\n===========================================\n\nPURPOSE\n-------\nFlattens 8 parallel eBay search results into one clean\nlist of listings, ready for DB storage and snipe filtering.\n\nINPUT:  8 batches of raw eBay API JSON\nOUTPUT: 405 normalized listing objects\n\nFIELD EXTRACTION\n----------------\nitem_id          → item.itemId\ntitle            → item.title\ncard_name        → item.title\nlisted_price     → item.price.value (float)\ncurrent_bid      → item.currentBidPrice.value (float)\nbid_count        → item.bidCount (int)\nshipping         → item.shippingOptions[0].shippingCost.value (float)\ntransaction_type → AUCTION or BUY_IT_NOW\nobo_available    → boolean\nobo_min_price    → item.minimumPriceToBid.value (float)\nreturns_accepted → boolean\nseller_username  → item.seller.username\nseller_feedback  → item.seller.feedbackScore\nseller_feedback_pct → item.seller.feedbackPercentage (float)\nimage_url        → item.image.imageUrl\nlisting_url      → item.itemWebUrl\ncondition        → item.condition\nitem_creation_date → item.itemCreationDate\nlisted_at        → timestamp of ingest run\n\nTITLE PARSING\n-------------\ngrader    -> CGC / PSA / SGC / BGS / Raw  (primary: SGC)\ngrade     → 10 / 9.5 / 9 / 8.5 / 8 / null\nset_name  → Team Rocket / Fossil / Jungle / Base /\n            Gym Challenge / Gym Heroes / Unknown\nlanguage  → English / Italian / German / Japanese /\n            French / Spanish / Korean\n\nOUTPUT FLOW\n-----------\nAll 405 items → Store All Listings (ebay_listings)\nFiltered items → Language → Grade → Bid Count →\n  Seller Feedback → Set Filter → Dedup →\n  Log SQL → Gixen Snipe"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"limit":1,"where":{"values":[{"column":"item_id","value":"={{ $json.item_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,320],"id":"95f97fb0-e2a0-4685-8f40-4fd016ee2317","name":"Dedup Check","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"columns":{"mappingMode":"autoMapInputData","value":{"returns_accepted":false,"obo_available":false},"matchingColumns":["item_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1824,320],"id":"45df85e8-45c4-4732-af3b-a86d07d4a718","name":"Log into EventHorizon SQL","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueErrorOutput"},{"parameters":{"url":"https://www.gixen.com/api.php?username=fletchketchem&password=Stride92Rundown63Festive64Marrow04Unflawed0&itemid={{ $json.item_id }}&maxbid=50&snipetime=6&mirror=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1648,528],"id":"38fc5ffb-e30e-43c0-abdf-93155884d712","name":"Gixen Snipe"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=gixen_bids\n","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1840,528],"id":"fe003917-a568-48f9-9a95-46b1308de706","name":"Insert rows in a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a4016e8-89aa-475b-b49c-12e21705476d","leftValue":"={{ $json.set_name }}","rightValue":"TEAM ROCKET","operator":{"type":"string","operation":"contains"}},{"id":"515a2a2f-c879-4c65-a8b7-79f0c4ed7c1f","leftValue":"={{ $json.set_name }}","rightValue":"GYM CHALLENGE","operator":{"type":"string","operation":"contains"}},{"id":"ebf45938-400d-4c42-ab36-3817b31384b7","leftValue":"={{ $json.set_name }}","rightValue":"FOSSIL","operator":{"type":"string","operation":"contains"}},{"id":"3e8b0f35-3e09-4bf5-aeed-9fd0cafbab6c","leftValue":"={{ $json.set_name }}","rightValue":"JUNGLE","operator":{"type":"string","operation":"contains"}},{"id":"35d5f633-468f-4997-9186-e017972b8828","leftValue":"={{ $json.set_name }}","rightValue":"BASE","operator":{"type":"string","operation":"contains"}},{"id":"e1d4a98b-4803-45b3-a221-ae0b2cc96aee","leftValue":"={{ $json.set_name }}","rightValue":"GYM HEROES","operator":{"type":"string","operation":"contains"}},{"id":"79b73e8b-e8c2-46a9-a22e-884fb6685cfd","leftValue":"={{ $json.set_name }}","rightValue":"WIZARDS BLACK STAR PROMOS","operator":{"type":"string","operation":"contains"}},{"id":"8fcce439-b67c-4b3e-8774-6c2dc0a41730","leftValue":"={{ $json.set_name }}","rightValue":"BEST OF GAME PROMOS","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1216,384],"id":"148c90c2-f68d-4a96-8005-48ebd44007b7","name":"SET FILTER"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e87e9356-d9b0-4a30-bf07-e7565281eacf","leftValue":"={{ $json.title }}","rightValue":"=SGC (100|98|96|94|92|90|88|86|84|82|80|10|9\\.5|9|8\\.5|8|7\\.5|7)","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[960,384],"id":"fb06980c-2e7e-42a5-bebd-c583d349a5f6","name":"GRADE FILTER","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,304],"id":"84ac167c-323e-43ef-9fa8-c160ec0ce160","name":"Merge","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Merges results from all 3 eBay search nodes (Team Rocket, Base Set, Fossil) into a single array before parsing. Mode: Combine > Append.\n\n"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"076a250f-712a-447c-a46e-40181c2e37a0","leftValue":"={{ parseInt($json.bid_count) }}","rightValue":2,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[864,592],"id":"4cf258f1-962c-40b5-abb7-54fc3869347f","name":"BID COUNT  FILTER"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e87e9356-d9b0-4a30-bf07-e7565281eacf","leftValue":"={{ $json.title }}","rightValue":"=ITALIAN","operator":{"type":"string","operation":"notContains"}},{"id":"50e7cb99-0dd6-4af5-b016-1d2edf38ade6","leftValue":"={{ $json.title }}","rightValue":"GERMAN","operator":{"type":"string","operation":"notContains"}},{"id":"09c2e9f7-15bf-48bb-884e-c788ad4c8890","leftValue":"={{ $json.title }}","rightValue":"KOREAN","operator":{"type":"string","operation":"notContains"}},{"id":"78ace520-cc93-4631-aa4b-9a0d9b2c9d5a","leftValue":"={{ $json.title }}","rightValue":"SPANISH","operator":{"type":"string","operation":"notContains"}},{"id":"5f3b4ed1-46f6-4183-9f22-d6eb40c7a1dd","leftValue":"={{ $json.title }}","rightValue":"FRENCH","operator":{"type":"string","operation":"notContains"}},{"id":"85e1251a-764a-441c-878a-373830479dd8","leftValue":"={{ $json.title }}","rightValue":"JAPANESE","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,384],"id":"672d7185-7416-48db-a3f1-31bfa3e06aaf","name":"LANGUAGE FILTER","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c6cb14f-890c-4536-9d4b-01a262331088","leftValue":"={{ parseFloat($json.seller_feedback_pct) }}","rightValue":98,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1232,608],"id":"7d1474ea-dd23-4a03-9783-5ab615a8f8bc","name":"SELLER FEEDBACK FILTER"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"columns":{"mappingMode":"autoMapInputData","value":{"returns_accepted":false,"id":0,"grade":0,"listed_price":0,"shipping":0,"seller_feedback":0,"seller_feedback_pct":0},"matchingColumns":["item_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[976,112],"id":"7a21f7d7-0917-4131-8912-a42e1ef40721","name":"Insert or update rows in a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"filter_rejections","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"item_id":"={{ $json.item_id }}","title":"={{ $json.title }}","card_name":"={{ $json.card_name }}","listed_price":"={{ $json.listed_price }}","currency":"={{ $json.currency }}","current_bid":"={{ $json.current_bid }}","bid_count":"={{ $json.bid_count }}","shipping":"={{ $json.shipping }}","transaction_type":"={{ $json.transaction_type }}","obo_available":"={{ $json.obo_available }}","obo_min_price":"={{ $json.obo_min_price }}","returns_accepted":"={{ $json.returns_accepted }}","set_name":"={{ $json.set_name }}","grader":"={{ $json.grader }}","grade":"={{ $json.grade }}","language":"={{ $json.language }}","seller_username":"={{ $json.seller_username }}","seller_feedback":"={{ $json.seller_feedback }}","seller_feedback_pct":"={{ $json.seller_feedback_pct }}","image_url":"={{ $json.image_url }}","item_url":"={{ $json.item_url }}","listing_url":"={{ $json.listing_url }}","condition":"={{ $json.condition }}","item_creation_date":"={{ $json.item_creation_date }}","listed_at":"={{ $json.listed_at }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"insert"},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1664,832],"id":"55cb84ef-3185-432a-ba26-06103a32d0b2","name":"FILTER REJECTION RUNOFF","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Fossil\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,0],"id":"1cd095fe-89cf-4c7e-bb00-f776a7c3ab80","name":"eBay Search - SGC Fossil Unlimited","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"fossil\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Team+Rocket\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0],"id":"7348402f-2520-4926-b3b3-ea33c42fd58c","name":"eBay Search - SGC Team Rocket Unlimited","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"team rocket\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Gym+Challenge\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,416],"id":"785ad671-0c82-4e3d-b218-5fc042612221","name":"eBay Search - SGC Gym Challenge Unlimited","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"gym challenge\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Base+Set\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,208],"id":"6841b66e-76db-4db5-a3a6-ed01a00a75be","name":"eBay Search - SGC Base Set Unlimited","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"base set\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Jungle\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,624],"id":"17bd0caf-44b6-4ea6-a089-3266ec4adc42","name":"eBay Search - SGC Jungle Unlimited","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"jungle\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Gym+Heroes\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,624],"id":"593de5f0-56e0-49af-b5a3-edfd0e407227","name":"eBay Search - SGC Gym Heros Unlimited","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"gym heroes\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"Wizards+Black+Star+Promos\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,832],"id":"8a358131-612d-4a02-ae9c-2fc562422e54","name":"eBay Search - SGC Wizards Black Star Promo","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nSet: \"wizards black star promo\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"Best+of+Game\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,832],"id":"8871fade-c87c-48f2-9c6f-f8d38f4b6ff3","name":"eBay Search - SGC Best of Game Promos","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nSet: \"best of game\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Fossil\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D&offset=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-16,224],"id":"53626b88-c9db-44d5-8dac-90014a31753a","name":"eBay Search - SGC Fossil Unlimited V2","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"fossil\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+SGC+\"unlimited\"+\"Base+Set\"+-1st+-shadowless&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D&offset=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,416],"id":"ef9bd9c3-85d6-4c82-8bfb-1f4a2e7fbcb3","name":"eBay Search - SGC Base Set Unlimited V2","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: SGC\nEdition: \"unlimited\" (exact phrase)\nSet: \"base set\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3e2438e6-3814-4a52-8668-20b5479ca454","leftValue":"={{ $json.title }}","rightValue":"1st","operator":{"type":"string","operation":"notContains"}},{"id":"3a32d5d3-0f15-4374-bc7c-fba5d5877fb2","leftValue":"={{ $json.title }}","rightValue":"shadowless","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[864,272],"id":"15abc1f4-d07c-42d0-b5a6-9157d6902625","name":"EDITION FILTER","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"EDITION FILTER (Unlimited workflow)\n----------------------------------\nRejects any listing whose title contains \"1st\" or \"shadowless\".\nBelt-and-suspenders to the eBay -1st -shadowless negative tokens in the search query.\nFalse → FILTER REJECTION RUNOFF (filter_rejections)."}],"connections":{"Schedule Trigger":{"main":[[{"node":"eBay OAuth Token","type":"main","index":0}]]},"eBay OAuth Token":{"main":[[{"node":"Extract Bearer Token","type":"main","index":0}]]},"Parse & Filter Fields":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Log into EventHorizon SQL","type":"main","index":0}]]},"Gixen Snipe":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"SET FILTER":{"main":[[{"node":"BID COUNT  FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"GRADE FILTER":{"main":[[{"node":"SET FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Parse & Filter Fields","type":"main","index":0}]]},"LANGUAGE FILTER":{"main":[[{"node":"GRADE FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"BID COUNT  FILTER":{"main":[[{"node":"SELLER FEEDBACK FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"SELLER FEEDBACK FILTER":{"main":[[{"node":"Dedup Check","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[{"node":"EDITION FILTER","type":"main","index":0}]]},"Extract Bearer Token":{"main":[[{"node":"eBay Search - SGC Fossil Unlimited","type":"main","index":0},{"node":"eBay Search - SGC Team Rocket Unlimited","type":"main","index":0},{"node":"eBay Search - SGC Fossil Unlimited V2","type":"main","index":0},{"node":"eBay Search - SGC Base Set Unlimited","type":"main","index":0},{"node":"eBay Search - SGC Gym Challenge Unlimited","type":"main","index":0},{"node":"eBay Search - SGC Base Set Unlimited V2","type":"main","index":0},{"node":"eBay Search - SGC Jungle Unlimited","type":"main","index":0},{"node":"eBay Search - SGC Gym Heros Unlimited","type":"main","index":0},{"node":"eBay Search - SGC Wizards Black Star Promo","type":"main","index":0},{"node":"eBay Search - SGC Best of Game Promos","type":"main","index":0}]]},"eBay Search - SGC Best of Game Promos":{"main":[[{"node":"Merge","type":"main","index":9}]]},"eBay Search - SGC Wizards Black Star Promo":{"main":[[{"node":"Merge","type":"main","index":8}]]},"eBay Search - SGC Fossil Unlimited":{"main":[[{"node":"Merge","type":"main","index":0}]]},"eBay Search - SGC Team Rocket Unlimited":{"main":[[{"node":"Merge","type":"main","index":1}]]},"eBay Search - SGC Gym Challenge Unlimited":{"main":[[{"node":"Merge","type":"main","index":4}]]},"eBay Search - SGC Base Set Unlimited":{"main":[[{"node":"Merge","type":"main","index":3}]]},"eBay Search - SGC Jungle Unlimited":{"main":[[{"node":"Merge","type":"main","index":6}]]},"eBay Search - SGC Gym Heros Unlimited":{"main":[[{"node":"Merge","type":"main","index":7}]]},"eBay Search - SGC Fossil Unlimited V2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"eBay Search - SGC Base Set Unlimited V2":{"main":[[{"node":"Merge","type":"main","index":5}]]},"EDITION FILTER":{"main":[[{"node":"LANGUAGE FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"97e5edbd-4fe4-4fe4-af56-804018338d71","activeVersionId":"75160054-40a4-4bd8-be7f-eec7fab134f3","versionCounter":1,"triggerCount":1,"tags":[{"updatedAt":"2026-05-23T01:30:42.713Z","createdAt":"2026-05-07T15:42:49.327Z","id":"IB8pfXe280Axx4Wh","name":"EventHorizon"},{"updatedAt":"2026-05-23T01:30:11.220Z","createdAt":"2026-05-23T01:30:11.220Z","id":"yyQBpph3oDPdkaos","name":"PokemonBHN"}],"shared":[{"updatedAt":"2026-05-23T07:09:25.179Z","createdAt":"2026-05-23T07:09:25.179Z","role":"workflow:owner","workflowId":"xFEqUwWG4rxEpZkZ","projectId":"x8kKDDLsqLhtLoNp","project":{"updatedAt":"2026-05-06T05:45:23.013Z","createdAt":"2026-05-06T05:32:43.599Z","id":"x8kKDDLsqLhtLoNp","name":"Felix Franklin <admin@eventhorizonvpn.com>","type":"personal","icon":null,"description":null,"creatorId":"0e24fc2a-4986-4b2f-867b-6a5fdd2cfab5"}}]}