n8n-workflows/pokemon/pokemon-bhn-vintage-psa.json
{"updatedAt":"2026-05-21T14:39:54.909Z","createdAt":"2026-05-21T04:15:27.035Z","id":"ngaXCB954R4c26dN","name":"POKEMON-BHN | VINTAGE-PSA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15,45 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-624,-256],"id":"c4e85d4c-84b6-45d4-aa73-af81c39bdeab","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.ebay.com/identity/v1/oauth2/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Authorization","value":"Basic SGF5ZGVuSGEtVEVBTVJPQ0stUFJELTgxODNlYzJlMy1lOGQ1OTU5OTpQUkQtMTgzZWMyZTMxZTJiLTUyMDMtNGZiMi1hZTE4LTY2YTQ="}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"https://api.ebay.com/oauth/api_scope"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-400,-256],"id":"1c59bccb-6a01-49b6-8af4-d5830579c554","name":"eBay OAuth Token"},{"parameters":{"jsCode":"const token = $input.first().json.access_token;\nreturn [{ json: { bearer_token: token } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-256],"id":"db626c67-9d7f-47f3-af1a-451af6cf11b3","name":"Extract Bearer Token"},{"parameters":{"jsCode":"const allItems = [];\n\nfor (const input of $input.all()) {\n  const items = input.json.itemSummaries || [];\n  for (const item of items) {\n    allItems.push({\n      json: {\n        item_id: item.itemId,\n        title: item.title,\n        card_name: item.title,\n        listed_price: parseFloat(item.price?.value || 0),\n        currency: item.price?.currency ||item.currentBidPrice?.currency || 'USD',\n        current_bid: parseFloat(item.currentBidPrice?.value || 0),\n        bid_count: parseInt(item.bidCount || 0),\n        shipping: parseFloat(item.shippingOptions?.[0]?.shippingCost?.value || 0),\n        transaction_type: item.buyingOptions?.includes('AUCTION') ? 'AUCTION' : 'BUY_IT_NOW',\n        obo_available: item.buyingOptions?.includes('BEST_OFFER') || false,\n        obo_min_price: parseFloat(item.minimumPriceToBid?.value || 0),\n        returns_accepted: item.returnTerms?.returnsAccepted || false,\n        set_name: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('TEAM ROCKET')) return 'Team Rocket';\n          if (t.includes('GYM CHALLENGE')) return 'Gym Challenge';\n          if (t.includes('GYM HEROES') || t.includes('GYM HERO')) return 'Gym Heroes';\n          if (t.includes('FOSSIL')) return 'Fossil';\n          if (t.includes('JUNGLE')) return 'Jungle';\n          if (t.includes('BASE SET') || t.includes('BASE')) return 'Base';\n          return 'Unknown';\n        })(),\n        grader: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('CGC')) return 'CGC';\n          if (t.includes('PSA')) return 'PSA';\n          if (t.includes('SGC')) return 'SGC';\n          return 'Raw';\n        })(),\n        grade: (() => {\n          const t = item.title || '';\n          const match = t.match(/\\b(10|9\\.5|9|8\\.5|8)\\b/);\n          return match ? parseFloat(match[1]) : null;\n        })(),\n        language: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('ITALIAN') || t.includes('ITALIANO')) return 'Italian';\n          if (t.includes('GERMAN') || t.includes('DEUTSCH')) return 'German';\n          if (t.includes('JAPANESE') || t.includes('JAPAN')) return 'Japanese';\n          if (t.includes('FRENCH') || t.includes('FRANCAIS')) return 'French';\n          if (t.includes('SPANISH') || t.includes('ESPANOL')) return 'Spanish';\n          if (t.includes('KOREAN')) return 'Korean';\n          return 'English';\n        })(),\n        seller_username: item.seller?.username,\n        seller_feedback: item.seller?.feedbackScore,\n        seller_feedback_pct: parseFloat(item.seller?.feedbackPercentage || 0),\n        image_url: item.image?.imageUrl,\n        item_url: item.itemHref,\n        listing_url: item.itemWebUrl,\n        condition: item.condition,\n        item_creation_date: item.itemCreationDate || null,\n        listed_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn allItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-544],"id":"dd9d373d-5be6-42a5-b536-79fdc777268a","name":"Parse & Filter Fields","alwaysOutputData":false,"notesInFlow":true,"notes":"PARSE & FILTER FIELDS — Node Documentation\n===========================================\n\nPURPOSE\n-------\nFlattens 8 parallel eBay search results into one clean\nlist of listings, ready for DB storage and snipe filtering.\n\nINPUT:  8 batches of raw eBay API JSON\nOUTPUT: 405 normalized listing objects\n\nFIELD EXTRACTION\n----------------\nitem_id          → item.itemId\ntitle            → item.title\ncard_name        → item.title\nlisted_price     → item.price.value (float)\ncurrent_bid      → item.currentBidPrice.value (float)\nbid_count        → item.bidCount (int)\nshipping         → item.shippingOptions[0].shippingCost.value (float)\ntransaction_type → AUCTION or BUY_IT_NOW\nobo_available    → boolean\nobo_min_price    → item.minimumPriceToBid.value (float)\nreturns_accepted → boolean\nseller_username  → item.seller.username\nseller_feedback  → item.seller.feedbackScore\nseller_feedback_pct → item.seller.feedbackPercentage (float)\nimage_url        → item.image.imageUrl\nlisting_url      → item.itemWebUrl\ncondition        → item.condition\nitem_creation_date → item.itemCreationDate\nlisted_at        → timestamp of ingest run\n\nTITLE PARSING\n-------------\ngrader    → CGC / PSA / SGC / Raw\ngrade     → 10 / 9.5 / 9 / 8.5 / 8 / null\nset_name  → Team Rocket / Fossil / Jungle / Base /\n            Gym Challenge / Gym Heroes / Unknown\nlanguage  → English / Italian / German / Japanese /\n            French / Spanish / Korean\n\nOUTPUT FLOW\n-----------\nAll 405 items → Store All Listings (ebay_listings)\nFiltered items → Language → Grade → Bid Count →\n  Seller Feedback → Set Filter → Dedup →\n  Log SQL → Gixen Snipe"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"limit":1,"where":{"values":[{"column":"item_id","value":"={{ $json.item_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1744,-336],"id":"4885094b-5936-4ece-b0e9-4f222b0e70ca","name":"Dedup Check","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"columns":{"mappingMode":"autoMapInputData","value":{"returns_accepted":false,"obo_available":false},"matchingColumns":["item_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1936,-336],"id":"38b77633-2bce-4278-af12-c49e7afe989f","name":"Log into EventHorizon SQL","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueErrorOutput"},{"parameters":{"url":"https://www.gixen.com/api.php?username=fletchketchem&password=Stride92Rundown63Festive64Marrow04Unflawed0&itemid={{ $json.item_id }}&maxbid=50&snipetime=6&mirror=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1760,-128],"id":"daf42480-ffd6-47aa-aaf8-c20bd58582b1","name":"Gixen Snipe"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=gixen_bids\n","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,-128],"id":"2ff018c0-9a74-45a2-8a2e-cca9fba2d303","name":"Insert rows in a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a4016e8-89aa-475b-b49c-12e21705476d","leftValue":"={{ $json.set_name }}","rightValue":"TEAM ROCKET","operator":{"type":"string","operation":"contains"}},{"id":"515a2a2f-c879-4c65-a8b7-79f0c4ed7c1f","leftValue":"={{ $json.set_name }}","rightValue":"GYM CHALLENGE","operator":{"type":"string","operation":"contains"}},{"id":"ebf45938-400d-4c42-ab36-3817b31384b7","leftValue":"={{ $json.set_name }}","rightValue":"FOSSIL","operator":{"type":"string","operation":"contains"}},{"id":"3e8b0f35-3e09-4bf5-aeed-9fd0cafbab6c","leftValue":"={{ $json.set_name }}","rightValue":"JUNGLE","operator":{"type":"string","operation":"contains"}},{"id":"35d5f633-468f-4997-9186-e017972b8828","leftValue":"={{ $json.set_name }}","rightValue":"BASE","operator":{"type":"string","operation":"contains"}},{"id":"e1d4a98b-4803-45b3-a221-ae0b2cc96aee","leftValue":"={{ $json.set_name }}","rightValue":"GYM HEROES","operator":{"type":"string","operation":"contains"}},{"id":"79b73e8b-e8c2-46a9-a22e-884fb6685cfd","leftValue":"={{ $json.set_name }}","rightValue":"WIZARDS BLACK STAR PROMOS","operator":{"type":"string","operation":"contains"}},{"id":"8fcce439-b67c-4b3e-8774-6c2dc0a41730","leftValue":"={{ $json.set_name }}","rightValue":"BEST OF GAME PROMOS","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,-272],"id":"8313b7a6-7041-4aae-a847-125bdc49908c","name":"SET FILTER"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e87e9356-d9b0-4a30-bf07-e7565281eacf","leftValue":"={{ $json.title }}","rightValue":"=(PSA 9|PSA 10)","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,-272],"id":"cd408924-b1e0-44d0-997c-190f3a18c9dc","name":"GRADE FILTER","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"numberInputs":11},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[688,-352],"id":"050d25d5-5cab-4054-b314-28821e882d17","name":"Merge","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Merges results from all 3 eBay search nodes (Team Rocket, Base Set, Fossil) into a single array before parsing. Mode: Combine > Append.\n\n"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"076a250f-712a-447c-a46e-40181c2e37a0","leftValue":"={{ parseInt($json.bid_count) }}","rightValue":2,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,-64],"id":"d50024d9-abaf-494f-88a5-363a45c088b9","name":"BID COUNT  FILTER"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e87e9356-d9b0-4a30-bf07-e7565281eacf","leftValue":"={{ $json.title }}","rightValue":"=ITALIAN","operator":{"type":"string","operation":"notContains"}},{"id":"50e7cb99-0dd6-4af5-b016-1d2edf38ade6","leftValue":"={{ $json.title }}","rightValue":"GERMAN","operator":{"type":"string","operation":"notContains"}},{"id":"09c2e9f7-15bf-48bb-884e-c788ad4c8890","leftValue":"={{ $json.title }}","rightValue":"KOREAN","operator":{"type":"string","operation":"notContains"}},{"id":"78ace520-cc93-4631-aa4b-9a0d9b2c9d5a","leftValue":"={{ $json.title }}","rightValue":"SPANISH","operator":{"type":"string","operation":"notContains"}},{"id":"5f3b4ed1-46f6-4183-9f22-d6eb40c7a1dd","leftValue":"={{ $json.title }}","rightValue":"FRENCH","operator":{"type":"string","operation":"notContains"}},{"id":"85e1251a-764a-441c-878a-373830479dd8","leftValue":"={{ $json.title }}","rightValue":"JAPANESE","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[880,-272],"id":"d9de642a-2681-4f86-b772-06fe31af8a38","name":"LANGUAGE FILTER","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c6cb14f-890c-4536-9d4b-01a262331088","leftValue":"={{ parseFloat($json.seller_feedback_pct) }}","rightValue":98,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,-64],"id":"27a37e12-4555-467b-bf7c-06be474b4569","name":"SELLER FEEDBACK FILTER"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"columns":{"mappingMode":"autoMapInputData","value":{"returns_accepted":false,"id":0,"grade":0,"listed_price":0,"shipping":0,"seller_feedback":0,"seller_feedback_pct":0},"matchingColumns":["item_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1088,-544],"id":"55c244f1-a7c5-4f93-9c12-f7689cea8570","name":"Insert or update rows in a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"filter_rejections","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1776,176],"id":"2df9d803-cbf6-4106-9040-5451bca3059d","name":"FILTER REJECTION RUNOFF","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Fossil\"&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-656],"id":"fa51e491-e0fb-4e6d-8c1f-6f70a3e67331","name":"eBay Search - PSA Fossil 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"fossil\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Team+Rocket\"&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,-656],"id":"b4422b21-24ad-4726-bbad-1511e13c32f4","name":"eBay Search - PSA Team Rocket 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"team rocket\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Gym+Challenge\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-240],"id":"f3fb46b9-3182-4d19-979f-ee36e4601bce","name":"eBay Search - PSA Gym Challenge 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"gym challenge\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Base+Set\"&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,-448],"id":"ff17de9e-a002-40f1-84db-6f6cbf631941","name":"eBay Search - PSA Base Set 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"base set\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Jungle\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,-32],"id":"8fe6cbee-9b22-4fc7-aeab-b19810b72b31","name":"eBay Search - PSA Jungle 1st Edition1","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"jungle\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Gym+Heroes\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[368,-32],"id":"f4da5ccc-7529-4c22-a879-9f387bb46f24","name":"eBay Search - PSA Gym Heros 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"gym heroes\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"Wizards+Black+Star+Promos\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,176],"id":"4ce0b3ea-3089-4b2a-af97-1a0b9be9f03c","name":"eBay Search - PSA Wizards Black Star Promo","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nSet: \"wizards black star promo\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"Best+of+Game\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[368,176],"id":"e032951d-c7a7-4e9d-bab7-8778bb54706f","name":"eBay Search - PSA Best of Game Promos","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nSet: \"best of game\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Fossil\"&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D&offset=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[96,-432],"id":"02df1cfd-68b6-4131-958f-5ff23bef8965","name":"eBay Search - PSA Fossil 1st Edition V2","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"fossil\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"1st+edition\"+\"Base+Set\"&category_ids=2536&sort=newlyListed&limit=200&filter=buyingOptions:%7BAUCTION%7D&offset=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,-240],"id":"419a2f56-95a8-41b1-b259-d0efb28c44c2","name":"eBay Search - PSA Base Set 1st Edition V2","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"1st edition\" (exact phrase)\nSet: \"base set\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+PSA+\"shadowless\"+\"Base+Set\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-200,1024],"id":"99a769e1-0242-4286-9fa3-90128d5c3db0","name":"eBay Search - PSA Base Set Shadowless","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: PSA\nEdition: \"shadowless\" (exact phrase)\nSet: \"base set\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"}],"connections":{"Schedule Trigger":{"main":[[{"node":"eBay OAuth Token","type":"main","index":0}]]},"eBay OAuth Token":{"main":[[{"node":"Extract Bearer Token","type":"main","index":0}]]},"Extract Bearer Token":{"main":[[{"node":"eBay Search - PSA Team Rocket 1st Edition","type":"main","index":0},{"node":"eBay Search - PSA Fossil 1st Edition","type":"main","index":0},{"node":"eBay Search - PSA Base Set 1st Edition","type":"main","index":0},{"node":"eBay Search - PSA Gym Challenge 1st Edition","type":"main","index":0},{"node":"eBay Search - PSA Jungle 1st Edition1","type":"main","index":0},{"node":"eBay Search - PSA Gym Heros 1st Edition","type":"main","index":0},{"node":"eBay Search - PSA Wizards Black Star Promo","type":"main","index":0},{"node":"eBay Search - PSA Best of Game Promos","type":"main","index":0},{"node":"eBay Search - PSA Base Set 1st Edition V2","type":"main","index":0},{"node":"eBay Search - PSA Fossil 1st Edition V2","type":"main","index":0},{"node":"eBay Search - PSA Base Set Shadowless","type":"main","index":0}]]},"Parse & Filter Fields":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Log into EventHorizon SQL","type":"main","index":0}]]},"Log into EventHorizon SQL":{"main":[[{"node":"Gixen Snipe","type":"main","index":0}]]},"Gixen Snipe":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"SET FILTER":{"main":[[{"node":"BID COUNT  FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"GRADE FILTER":{"main":[[{"node":"SET FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Parse & Filter Fields","type":"main","index":0}]]},"LANGUAGE FILTER":{"main":[[{"node":"GRADE FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"BID COUNT  FILTER":{"main":[[{"node":"SELLER FEEDBACK FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"SELLER FEEDBACK FILTER":{"main":[[{"node":"Dedup Check","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[{"node":"LANGUAGE FILTER","type":"main","index":0}]]},"eBay Search - PSA Fossil 1st Edition":{"main":[[{"node":"Merge","type":"main","index":2}]]},"eBay Search - PSA Team Rocket 1st Edition":{"main":[[{"node":"Merge","type":"main","index":0}]]},"eBay Search - PSA Gym Challenge 1st Edition":{"main":[[{"node":"Merge","type":"main","index":3},{"node":"Merge","type":"main","index":8}]]},"eBay Search - PSA Base Set 1st Edition":{"main":[[{"node":"Merge","type":"main","index":1}]]},"eBay Search - PSA Jungle 1st Edition1":{"main":[[{"node":"Merge","type":"main","index":4}]]},"eBay Search - PSA Gym Heros 1st Edition":{"main":[[{"node":"Merge","type":"main","index":5}]]},"eBay Search - PSA Wizards Black Star Promo":{"main":[[{"node":"Merge","type":"main","index":6}]]},"eBay Search - PSA Best of Game Promos":{"main":[[{"node":"Merge","type":"main","index":7}]]},"eBay Search - PSA Base Set 1st Edition V2":{"main":[[{"node":"Merge","type":"main","index":9}]]},"eBay Search - PSA Base Set Shadowless":{"main":[[{"node":"Merge","type":"main","index":10}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4fb401a0-ee78-4fd3-9fbc-33d0954881fd","activeVersionId":"9b2e50ce-df4b-4f38-8e37-d64ebe47efde","versionCounter":79,"triggerCount":1,"tags":[{"updatedAt":"2026-05-07T15:42:49.327Z","createdAt":"2026-05-07T15:42:49.327Z","id":"IB8pfXe280Axx4Wh","name":"eventhorizon"}],"shared":[{"updatedAt":"2026-05-21T04:15:27.046Z","createdAt":"2026-05-21T04:15:27.046Z","role":"workflow:owner","workflowId":"ngaXCB954R4c26dN","projectId":"x8kKDDLsqLhtLoNp","project":{"updatedAt":"2026-05-06T05:45:23.013Z","createdAt":"2026-05-06T05:32:43.599Z","id":"x8kKDDLsqLhtLoNp","name":"Felix Franklin <admin@eventhorizonvpn.com>","type":"personal","icon":null,"description":null,"creatorId":"0e24fc2a-4986-4b2f-867b-6a5fdd2cfab5"}}]}