n8n-workflows/pokemon/pokemon-bhn-vintage-cgc.json
{"updatedAt":"2026-05-21T04:34:55.761Z","createdAt":"2026-05-19T18:51:49.700Z","id":"UoCMWbLXwVRDQSlt","name":"POKEMON-BHN | VINTAGE-CGC","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0,30 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-544,-256],"id":"3dec068e-3b8a-4ccf-9303-d7e46d8b254d","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.ebay.com/identity/v1/oauth2/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Authorization","value":"Basic SGF5ZGVuSGEtVEVBTVJPQ0stUFJELTgxODNlYzJlMy1lOGQ1OTU5OTpQUkQtMTgzZWMyZTMxZTJiLTUyMDMtNGZiMi1hZTE4LTY2YTQ="}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"https://api.ebay.com/oauth/api_scope"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-320,-256],"id":"f0111c60-a9b8-492c-b001-66ab867eb373","name":"eBay OAuth Token"},{"parameters":{"jsCode":"const token = $input.first().json.access_token;\nreturn [{ json: { bearer_token: token } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,-256],"id":"9eddafe7-3a23-423e-a3d4-8bc1057d2d56","name":"Extract Bearer Token"},{"parameters":{"jsCode":"const allItems = [];\n\nfor (const input of $input.all()) {\n  const items = input.json.itemSummaries || [];\n  for (const item of items) {\n    allItems.push({\n      json: {\n        item_id: item.itemId,\n        title: item.title,\n        card_name: item.title,\n        listed_price: parseFloat(item.price?.value || 0),\n        currency: item.price?.currency,\n        current_bid: parseFloat(item.currentBidPrice?.value || 0),\n        bid_count: parseInt(item.bidCount || 0),\n        shipping: parseFloat(item.shippingOptions?.[0]?.shippingCost?.value || 0),\n        transaction_type: item.buyingOptions?.includes('AUCTION') ? 'AUCTION' : 'BUY_IT_NOW',\n        obo_available: item.buyingOptions?.includes('BEST_OFFER') || false,\n        obo_min_price: parseFloat(item.minimumPriceToBid?.value || 0),\n        returns_accepted: item.returnTerms?.returnsAccepted || false,\n        set_name: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('TEAM ROCKET')) return 'Team Rocket';\n          if (t.includes('GYM CHALLENGE')) return 'Gym Challenge';\n          if (t.includes('GYM HEROES') || t.includes('GYM HERO')) return 'Gym Heroes';\n          if (t.includes('FOSSIL')) return 'Fossil';\n          if (t.includes('JUNGLE')) return 'Jungle';\n          if (t.includes('BASE SET') || t.includes('BASE')) return 'Base';\n          return 'Unknown';\n        })(),\n        grader: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('CGC')) return 'CGC';\n          if (t.includes('PSA')) return 'PSA';\n          if (t.includes('SGC')) return 'SGC';\n          return 'Raw';\n        })(),\n        grade: (() => {\n          const t = item.title || '';\n          const match = t.match(/\\b(10|9\\.5|9|8\\.5|8)\\b/);\n          return match ? parseFloat(match[1]) : null;\n        })(),\n        language: (() => {\n          const t = item.title?.toUpperCase() || '';\n          if (t.includes('ITALIAN') || t.includes('ITALIANO')) return 'Italian';\n          if (t.includes('GERMAN') || t.includes('DEUTSCH')) return 'German';\n          if (t.includes('JAPANESE') || t.includes('JAPAN')) return 'Japanese';\n          if (t.includes('FRENCH') || t.includes('FRANCAIS')) return 'French';\n          if (t.includes('SPANISH') || t.includes('ESPANOL')) return 'Spanish';\n          if (t.includes('KOREAN')) return 'Korean';\n          return 'English';\n        })(),\n        seller_username: item.seller?.username,\n        seller_feedback: item.seller?.feedbackScore,\n        seller_feedback_pct: parseFloat(item.seller?.feedbackPercentage || 0),\n        image_url: item.image?.imageUrl,\n        item_url: item.itemHref,\n        listing_url: item.itemWebUrl,\n        condition: item.condition,\n        item_creation_date: item.itemCreationDate || null,\n        listed_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn allItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-544],"id":"90bcef5f-e5a7-486e-87f2-18c483e19455","name":"Parse & Filter Fields","alwaysOutputData":false,"notesInFlow":true,"notes":"PARSE & FILTER FIELDS — Node Documentation\n===========================================\n\nPURPOSE\n-------\nFlattens 8 parallel eBay search results into one clean\nlist of listings, ready for DB storage and snipe filtering.\n\nINPUT:  8 batches of raw eBay API JSON\nOUTPUT: 405 normalized listing objects\n\nFIELD EXTRACTION\n----------------\nitem_id          → item.itemId\ntitle            → item.title\ncard_name        → item.title\nlisted_price     → item.price.value (float)\ncurrent_bid      → item.currentBidPrice.value (float)\nbid_count        → item.bidCount (int)\nshipping         → item.shippingOptions[0].shippingCost.value (float)\ntransaction_type → AUCTION or BUY_IT_NOW\nobo_available    → boolean\nobo_min_price    → item.minimumPriceToBid.value (float)\nreturns_accepted → boolean\nseller_username  → item.seller.username\nseller_feedback  → item.seller.feedbackScore\nseller_feedback_pct → item.seller.feedbackPercentage (float)\nimage_url        → item.image.imageUrl\nlisting_url      → item.itemWebUrl\ncondition        → item.condition\nitem_creation_date → item.itemCreationDate\nlisted_at        → timestamp of ingest run\n\nTITLE PARSING\n-------------\ngrader    → CGC / PSA / SGC / Raw\ngrade     → 10 / 9.5 / 9 / 8.5 / 8 / null\nset_name  → Team Rocket / Fossil / Jungle / Base /\n            Gym Challenge / Gym Heroes / Unknown\nlanguage  → English / Italian / German / Japanese /\n            French / Spanish / Korean\n\nOUTPUT FLOW\n-----------\nAll 405 items → Store All Listings (ebay_listings)\nFiltered items → Language → Grade → Bid Count →\n  Seller Feedback → Set Filter → Dedup →\n  Log SQL → Gixen Snipe"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"limit":1,"where":{"values":[{"column":"item_id","value":"={{ $json.item_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1744,-336],"id":"81148289-a028-4971-a0d3-7ae8a4e89b19","name":"Dedup Check","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"columns":{"mappingMode":"autoMapInputData","value":{"returns_accepted":false,"obo_available":false},"matchingColumns":["item_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1936,-336],"id":"e58a2161-f613-461a-a2db-088052cd5c64","name":"Log into EventHorizon SQL","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueErrorOutput"},{"parameters":{"url":"https://www.gixen.com/api.php?username=fletchketchem&password=Stride92Rundown63Festive64Marrow04Unflawed0&itemid={{ $json.item_id }}&maxbid=50&snipetime=6&mirror=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1776,-128],"id":"4d19c361-ab84-46f1-ad70-839c07e5b5fd","name":"Gixen Snipe"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=gixen_bids\n","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,-128],"id":"eed67a09-f6a4-4121-bad3-15f1e9de1f5a","name":"Insert rows in a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a4016e8-89aa-475b-b49c-12e21705476d","leftValue":"={{ $json.set_name }}","rightValue":"TEAM ROCKET","operator":{"type":"string","operation":"contains"}},{"id":"515a2a2f-c879-4c65-a8b7-79f0c4ed7c1f","leftValue":"={{ $json.set_name }}","rightValue":"GYM CHALLENGE","operator":{"type":"string","operation":"contains"}},{"id":"ebf45938-400d-4c42-ab36-3817b31384b7","leftValue":"={{ $json.set_name }}","rightValue":"FOSSIL","operator":{"type":"string","operation":"contains"}},{"id":"3e8b0f35-3e09-4bf5-aeed-9fd0cafbab6c","leftValue":"={{ $json.set_name }}","rightValue":"JUNGLE","operator":{"type":"string","operation":"contains"}},{"id":"35d5f633-468f-4997-9186-e017972b8828","leftValue":"={{ $json.set_name }}","rightValue":"BASE","operator":{"type":"string","operation":"contains"}},{"id":"e1d4a98b-4803-45b3-a221-ae0b2cc96aee","leftValue":"={{ $json.set_name }}","rightValue":"GYM HEROES","operator":{"type":"string","operation":"contains"}},{"id":"79b73e8b-e8c2-46a9-a22e-884fb6685cfd","leftValue":"={{ $json.set_name }}","rightValue":"WIZARDS BLACK STAR PROMOS","operator":{"type":"string","operation":"contains"}},{"id":"8fcce439-b67c-4b3e-8774-6c2dc0a41730","leftValue":"={{ $json.set_name }}","rightValue":"BEST OF GAME PROMOS","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,-272],"id":"a7c1aaa8-7f07-4bc8-b6eb-f020246a3d91","name":"SET FILTER"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e87e9356-d9b0-4a30-bf07-e7565281eacf","leftValue":"={{ $json.title }}","rightValue":"=(PSA 9|PSA 10|CGC 9.5|CGC 10|SGC 10|BGS 9.5|BGS 10)","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,-272],"id":"c22192e4-7bcc-42b5-9d4d-f0a44da17f28","name":"GRADE FILTER","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"numberInputs":9},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[688,-352],"id":"f2dacf65-eea6-44ad-9d64-f55806b5514a","name":"Merge","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Merges results from all 3 eBay search nodes (Team Rocket, Base Set, Fossil) into a single array before parsing. Mode: Combine > Append.\n\n"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"076a250f-712a-447c-a46e-40181c2e37a0","leftValue":"={{ parseInt($json.bid_count) }}","rightValue":2,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,-64],"id":"227b2134-a1bd-424c-8bbf-9a621e72f86e","name":"BID COUNT  FILTER"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e87e9356-d9b0-4a30-bf07-e7565281eacf","leftValue":"={{ $json.title }}","rightValue":"=ITALIAN","operator":{"type":"string","operation":"notContains"}},{"id":"50e7cb99-0dd6-4af5-b016-1d2edf38ade6","leftValue":"={{ $json.title }}","rightValue":"GERMAN","operator":{"type":"string","operation":"notContains"}},{"id":"09c2e9f7-15bf-48bb-884e-c788ad4c8890","leftValue":"={{ $json.title }}","rightValue":"KOREAN","operator":{"type":"string","operation":"notContains"}},{"id":"78ace520-cc93-4631-aa4b-9a0d9b2c9d5a","leftValue":"={{ $json.title }}","rightValue":"SPANISH","operator":{"type":"string","operation":"notContains"}},{"id":"5f3b4ed1-46f6-4183-9f22-d6eb40c7a1dd","leftValue":"={{ $json.title }}","rightValue":"FRENCH","operator":{"type":"string","operation":"notContains"}},{"id":"85e1251a-764a-441c-878a-373830479dd8","leftValue":"={{ $json.title }}","rightValue":"JAPANESE","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[880,-272],"id":"25e519cf-d9d6-4167-9fdc-1e9e27db2365","name":"LANGUAGE FILTER","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c6cb14f-890c-4536-9d4b-01a262331088","leftValue":"={{ parseFloat($json.seller_feedback_pct) }}","rightValue":98,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,-64],"id":"d8cb74c7-bfd5-4b8b-b9ab-a3697066ea1d","name":"SELLER FEEDBACK FILTER"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ebay_listings","mode":"list","cachedResultName":"ebay_listings"},"columns":{"mappingMode":"autoMapInputData","value":{"returns_accepted":false,"id":0,"grade":0,"listed_price":0,"shipping":0,"seller_feedback":0,"seller_feedback_pct":0},"matchingColumns":["item_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1088,-544],"id":"5b685db2-1aad-4442-ba43-2d6da38c7179","name":"Insert or update rows in a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"filter_rejections","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"item_id":"={{ $json.item_id }}","title":"={{ $json.title }}","card_name":"={{ $json.card_name }}","listed_price":"={{ $json.listed_price }}","currency":"={{ $json.currency }}","current_bid":"={{ $json.current_bid }}","bid_count":"={{ $json.bid_count }}","shipping":"={{ $json.shipping }}","transaction_type":"={{ $json.transaction_type }}","obo_available":"={{ $json.obo_available }}","obo_min_price":"={{ $json.obo_min_price }}","returns_accepted":"={{ $json.returns_accepted }}","set_name":"={{ $json.set_name }}","grader":"={{ $json.grader }}","grade":"={{ $json.grade }}","language":"={{ $json.language }}","seller_username":"={{ $json.seller_username }}","seller_feedback":"={{ $json.seller_feedback }}","seller_feedback_pct":"={{ $json.seller_feedback_pct }}","image_url":"={{ $json.image_url }}","item_url":"={{ $json.item_url }}","listing_url":"={{ $json.listing_url }}","condition":"={{ $json.condition }}","item_creation_date":"={{ $json.item_creation_date }}","listed_at":"={{ $json.listed_at }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"card_name","displayName":"card_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"listed_price","displayName":"listed_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"current_bid","displayName":"current_bid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"bid_count","displayName":"bid_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"shipping","displayName":"shipping","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"transaction_type","displayName":"transaction_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"obo_available","displayName":"obo_available","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"obo_min_price","displayName":"obo_min_price","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"returns_accepted","displayName":"returns_accepted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"set_name","displayName":"set_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grader","displayName":"grader","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_username","displayName":"seller_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"seller_feedback","displayName":"seller_feedback","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"seller_feedback_pct","displayName":"seller_feedback_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"image_url","displayName":"image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_url","displayName":"item_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"listing_url","displayName":"listing_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"condition","displayName":"condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"item_creation_date","displayName":"item_creation_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"listed_at","displayName":"listed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"insert"},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1776,176],"id":"52fecb03-cfc2-4318-9449-e1c19e5ca114","name":"FILTER REJECTION RUNOFF","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+%221st+edition%22+%22fossil%22&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[144,-656],"id":"5122345a-ff95-4499-b5b9-03b8ba012eeb","name":"eBay Search - CGC Fossil 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nEdition: \"1st edition\" (exact phrase)\nSet: \"fossil\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+%221st+edition%22+%22team+rocket%22&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,-656],"id":"a69b908c-f029-4deb-8ec1-adc63cd37ed3","name":"eBay Search - CGC Team Rocket 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nEdition: \"1st edition\" (exact phrase)\nSet: \"team rocket\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+%221st+edition%22+%22gym+challenge%22&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[144,-448],"id":"ad9b3b29-8559-4d79-a783-db902d2a36b5","name":"eBay Search - CGC Gym Challenge 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nEdition: \"1st edition\" (exact phrase)\nSet: \"gym challenge\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+%221st+edition%22+%22base+set%22&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,-448],"id":"2aa168c2-39b3-46a7-ac53-c9e58f6399e4","name":"eBay Search - CGC Base Set 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nEdition: \"1st edition\" (exact phrase)\nSet: \"base set\" (exact phrase)\nAuctions only, newly listed, limit 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+\"1st+edition\"+\"base+set\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,-32],"id":"f536a880-166f-4f16-a217-1a1cc70e7bb3","name":"eBay Search - CGC Jungle 1st Edition1","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nEdition: \"1st edition\" (exact phrase)\nSet: \"jungle\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+\"1st+edition\"+\"gym+heroes\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[368,-32],"id":"40b506dc-2d1e-4e11-a756-56a395dbd353","name":"eBay Search - CGC Gym Heros 1st Edition","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nEdition: \"1st edition\" (exact phrase)\nSet: \"gym heroes\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+\"wizards+black+star+promo\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,176],"id":"86e8cc8a-fd9d-481d-8326-d13304e44041","name":"eBay Search - CGC Wizards Black Star Promo","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nSet: \"wizards black star promo\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+\"best+of+game\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[368,176],"id":"0095bbc0-2cc2-4cf4-85ec-27ec8d5a4cf7","name":"eBay Search - CGC Best of Game Promos","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nSet: \"best of game\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"},{"parameters":{"content":"Automatically scrapes eBay for CGC-graded vintage Pokémon card auctions, filters for high-value targets, logs them to EventHorizon, and submits snipe bids via Gixen.\n\nSchedule\nRuns on cron trigger. Searches 8 CGC set pipelines per execution.\nSearch Sets  Fossil 1st Ed | Team Rocket 1st Ed | Gym Challenge 1st Ed | Base Set 1st Ed | Jungle 1st Ed | Gym Heroes 1st Ed | Wizards Black Star Promos | Best of Game Promos\n\nFilter Chain\nLanguage → English only\nGrade → 9, 9.5, 10 only\nSet → Valid vintage sets only\nBid Count → Low competition targets\nSeller Feedback → High trust sellers only\n\nRejections → Logged to filter_rejections\nDatabase (EventHorizon — Vultr LA)\nebay_listings — all parsed listings (upsert on item_id)\ngixen_bids — confirmed snipe submissions\nfilter_rejections — filtered out listings with reason\nGixen Snipe\nMax bid: $50 | Snipe offset: 6 seconds\n⚠️ Verify item_id is numeric only (strip v1|xxx|0 format)\nKnown Watchpoints\n\nGixen dashboard verification pending\nPSA workflow next in build queue\nSGC + BGS combined workflow after PSA","height":624,"width":448},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-928],"id":"7a7ca099-968c-4544-ab58-aafb2b95225f","name":"Sticky Note"},{"parameters":{"content":"FILTER SYSTEM — HOW IT WORKS\nChained If nodes, true→true path advances the listing\nFalse branch at every stage → FILTER REJECTION RUNOFF → filter_rejections table\n\nSTAGE 1 — LANGUAGE FILTER\nField: $json.language matches regex (English)\nRejects: Japanese, Italian, German, French, Spanish, Korean\nWhy: Foreign language cards have separate markets and pricing\n\nSTAGE 2 — GRADE FILTER\nField: $json.title matches regex\nRegex: (PSA 9|PSA 10|CGC 9.5|CGC 10|SGC 10|BGS 9.5|BGS 10)\nRejects: Grade 8, 8.5, ungraded, null, any grader not listed\nWhy: Only near-mint and gem mint cards hold resale value\nNote: Matches directly against title, not parsed grade field\n\nSTAGE 3 — SET FILTER\nField: $json.set_name contains (case insensitive)\nValid: TEAM ROCKET | GYM CHALLENGE | FOSSIL | JUNGLE | BASE\n      GYM HEROES | WIZARDS BLACK STAR PROMOS | BEST OF GAME PROMOS\nRejects: Unknown set, modern sets, misidentified titles\nWhy: Scope control — vintage 1st ed + promos only\n\nSTAGE 4 — BID COUNT FILTER\nField: parseInt($json.bid_count) ≤ 2\nRejects: Listings with 3 or more bids\nWhy: Low bid count = low competition = snipeable opportunity\n     High bids = price already discovered, not worth sniping\n\nSTAGE 5 — SELLER FEEDBACK FILTER\nField: parseFloat($json.seller_feedback_pct) ≥ 98\nRejects: Sellers below 98% positive feedback\nWhy: Protects against fakes, fraud, non-delivery\n\nSURVIVORS → DEDUP CHECK → LOG INTO EVENTHORIZON → GIXEN SNIPE\n\n","height":768,"width":496},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,160],"id":"57b7e03f-e5d7-4331-97e7-37ea459a3e0a","name":"Sticky Note1"},{"parameters":{"content":"GIXEN SNIPE — HOW IT WORKS\nFires after listings survive the full filter chain\n\nMETHOD: GET\nENDPOINT: https://www.gixen.com/api.php\nAuthentication: None (credentials passed as URL params)\nSend Headers: OFF\nSend Query Parameters: OFF\nSend Body: OFF\nOn Error: Continue\n\nPARAMETERS (passed in URL)\nusername      Gixen account username\npassword      Gixen account password\nitemid        $json.item_id — eBay listing ID\n              ⚠️ Must be numeric only — strip v1|xxx|0 format\nmaxbid        50 — Maximum bid in USD\nsnipetime     6 — Seconds before auction end to fire bid\n\nFLOW AFTER GIXEN\n→ INSERT ROWS IN A TABLE\n  Table: gixen_bids (EventHorizon)\n  Operation: Insert\n  Mapping: Automatic\n  On Error: Continue\n  Logs: item_id, title, listed_price, max_bid, \n        snipe_offset, gixen_response, auction_end_date, sniped_at\n\n⚠️ KNOWN ISSUE\nGixen API returns success but snipes not confirmed \nappearing in dashboard — item_id format suspected cause\nVerify numeric-only item_id before next run","height":640,"width":528},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2208,-512],"id":"c6aa15b9-cf73-4658-ac59-8c1dbb0b09ec","name":"Sticky Note2"},{"parameters":{"url":"https://api.ebay.com/buy/browse/v1/item_summary/search?q=pokemon+CGC+\"shadowless\"+\"Base+Set\"&category_ids=2536&sort=newlyListed&limit=100&filter=buyingOptions:%7BAUCTION%7D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract Bearer Token').item.json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-200,1024],"id":"39693b74-6051-4491-ab5c-bf025efc2aa0","name":"eBay Search - CGC Base Set Shadowless","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Grader: CGC\nEdition: \"shadowless\" (exact phrase)\nSet: \"base set\" (exact phrase)\nListing type: Auctions only\nSort: Newly listed\nLimit: 100"}],"connections":{"Schedule Trigger":{"main":[[{"node":"eBay OAuth Token","type":"main","index":0}]]},"eBay OAuth Token":{"main":[[{"node":"Extract Bearer Token","type":"main","index":0}]]},"Extract Bearer Token":{"main":[[{"node":"eBay Search - CGC Team Rocket 1st Edition","type":"main","index":0},{"node":"eBay Search - CGC Fossil 1st Edition","type":"main","index":0},{"node":"eBay Search - CGC Base Set 1st Edition","type":"main","index":0},{"node":"eBay Search - CGC Gym Challenge 1st Edition","type":"main","index":0},{"node":"eBay Search - CGC Jungle 1st Edition1","type":"main","index":0},{"node":"eBay Search - CGC Gym Heros 1st Edition","type":"main","index":0},{"node":"eBay Search - CGC Wizards Black Star Promo","type":"main","index":0},{"node":"eBay Search - CGC Best of Game Promos","type":"main","index":0},{"node":"eBay Search - CGC Base Set Shadowless","type":"main","index":0}]]},"Parse & Filter Fields":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Log into EventHorizon SQL","type":"main","index":0}]]},"Log into EventHorizon SQL":{"main":[[{"node":"Gixen Snipe","type":"main","index":0}]]},"Gixen Snipe":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"SET FILTER":{"main":[[{"node":"BID COUNT  FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"GRADE FILTER":{"main":[[{"node":"SET FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Parse & Filter Fields","type":"main","index":0}]]},"LANGUAGE FILTER":{"main":[[{"node":"GRADE FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"BID COUNT  FILTER":{"main":[[{"node":"SELLER FEEDBACK FILTER","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"SELLER FEEDBACK FILTER":{"main":[[{"node":"Dedup Check","type":"main","index":0}],[{"node":"FILTER REJECTION RUNOFF","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[{"node":"LANGUAGE FILTER","type":"main","index":0}]]},"eBay Search - CGC Fossil 1st Edition":{"main":[[{"node":"Merge","type":"main","index":2}]]},"eBay Search - CGC Team Rocket 1st Edition":{"main":[[{"node":"Merge","type":"main","index":0}]]},"eBay Search - CGC Gym Challenge 1st Edition":{"main":[[{"node":"Merge","type":"main","index":3}]]},"eBay Search - CGC Base Set 1st Edition":{"main":[[{"node":"Merge","type":"main","index":1}]]},"eBay Search - CGC Jungle 1st Edition1":{"main":[[{"node":"Merge","type":"main","index":4}]]},"eBay Search - CGC Gym Heros 1st Edition":{"main":[[{"node":"Merge","type":"main","index":5}]]},"eBay Search - CGC Wizards Black Star Promo":{"main":[[{"node":"Merge","type":"main","index":6}]]},"eBay Search - CGC Best of Game Promos":{"main":[[{"node":"Merge","type":"main","index":7}]]},"eBay Search - CGC Base Set Shadowless":{"main":[[{"node":"Merge","type":"main","index":8}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d6cc774-8fd6-4b97-9e62-8b26c4ccbcd1","activeVersionId":"9d6cc774-8fd6-4b97-9e62-8b26c4ccbcd1","versionCounter":1110,"triggerCount":1,"tags":[{"updatedAt":"2026-05-07T15:42:49.327Z","createdAt":"2026-05-07T15:42:49.327Z","id":"IB8pfXe280Axx4Wh","name":"eventhorizon"}],"shared":[{"updatedAt":"2026-05-19T18:51:49.702Z","createdAt":"2026-05-19T18:51:49.702Z","role":"workflow:owner","workflowId":"UoCMWbLXwVRDQSlt","projectId":"x8kKDDLsqLhtLoNp","project":{"updatedAt":"2026-05-06T05:45:23.013Z","createdAt":"2026-05-06T05:32:43.599Z","id":"x8kKDDLsqLhtLoNp","name":"Felix Franklin <admin@eventhorizonvpn.com>","type":"personal","icon":null,"description":null,"creatorId":"0e24fc2a-4986-4b2f-867b-6a5fdd2cfab5"}}]}