n8n-workflows/pokemon/pokemon-bhn-sold-comps.json
{
  "name": "POKEMON-BHN | SOLD-COMPS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-960, 0],
      "id": "scd-trigger-sold-comps",
      "name": "Schedule Trigger (Daily 08:00 UTC)",
      "notes": "Daily rotation: 33 cards/day from master_card_catalog. With 1,354 variant rows, one full sweep takes ~41 days. Adjust cron if you want a different cadence."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ranked AS (\n  SELECT m.id AS card_id, m.card_code, m.card_name, m.set_name,\n         m.card_number, m.edition,\n         ROW_NUMBER() OVER (ORDER BY m.id) - 1 AS rn,\n         COUNT(*) OVER () AS total\n    FROM master_card_catalog m\n),\nparams AS (\n  SELECT ((CURRENT_DATE - DATE '2026-01-01')::int * 33)\n         % (SELECT COUNT(*) FROM master_card_catalog) AS day_offset\n)\nSELECT r.card_id, r.card_code, r.card_name, r.set_name,\n       r.card_number, r.edition\n  FROM ranked r\n CROSS JOIN params p\n WHERE (r.rn - p.day_offset + r.total) % r.total < 33\n ORDER BY r.card_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-720, 0],
      "id": "pg-get-daily-cards",
      "name": "Get Daily 33 Cards",
      "credentials": {
        "postgres": {
          "id": "dQxOaWILJI9iNiQc",
          "name": "Postgres EventHorizon"
        }
      },
      "notes": "Deterministic rotation by days-since-epoch (2026-01-01). Same set of 33 cards every time the workflow runs on a given date. Wraps the catalog cleanly when stride * days exceeds catalog size."
    },
    {
      "parameters": {
        "jsCode": "// Build a Finding-API URL per card. Keywords combine set + card_name +\n// card_number for tight targeting; the parser later validates by string-match.\n//\n// SECURITY-APPNAME is the eBay App ID from the same credential pair used\n// by the vintage scrapers (Basic-auth value SGF5...NjZhNA== base64-decodes to\n// 'HaydenHa-TEAMROCK-PRD-8183ec2e3-e8d59599:PRD-183ec2e31e2b-...'; the part\n// before the colon is the App ID, which is all the Finding API needs).\n\nconst APP_ID = 'HaydenHa-TEAMROCK-PRD-8183ec2e3-e8d59599';\nconst FINDING_BASE = 'https://svcs.ebay.com/services/search/FindingService/v1';\n\nfunction buildKeywords(card) {\n  const parts = ['pokemon'];\n  if (card.set_name) parts.push('\"' + card.set_name + '\"');\n  if (card.card_name) parts.push('\"' + card.card_name + '\"');\n  if (card.card_number) parts.push(String(card.card_number));\n  return parts.join(' ');\n}\n\nfunction buildUrl(card) {\n  const keywords = buildKeywords(card);\n  // URLSearchParams isn't exposed in n8n's Code node sandbox — build the\n  // query string manually with encodeURIComponent (which IS available).\n  const params = [\n    ['OPERATION-NAME', 'findCompletedItems'],\n    ['SERVICE-VERSION', '1.13.0'],\n    ['SECURITY-APPNAME', APP_ID],\n    ['GLOBAL-ID', 'EBAY-US'],\n    ['RESPONSE-DATA-FORMAT', 'JSON'],\n    ['REST-PAYLOAD', 'true'],\n    ['keywords', keywords],\n    ['categoryId', '2536'],\n    ['itemFilter(0).name', 'SoldItemsOnly'],\n    ['itemFilter(0).value', 'true'],\n    ['sortOrder', 'EndTimeSoonest'],\n    ['paginationInput.entriesPerPage', '100']\n  ];\n  const qs = params\n    .map(([k, v]) => encodeURIComponent(k) + '=' + encodeURIComponent(v))\n    .join('&');\n  return FINDING_BASE + '?' + qs;\n}\n\nreturn $input.all().map(({ json: card }) => ({\n  json: {\n    card_id: card.card_id,\n    card_code: card.card_code,\n    card_name: card.card_name,\n    set_name: card.set_name,\n    card_number: card.card_number,\n    edition: card.edition,\n    keywords: buildKeywords(card),\n    search_url: buildUrl(card)\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 0],
      "id": "code-build-urls",
      "name": "Build Search URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.search_url }}",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-240, 0],
      "id": "http-ebay-finding",
      "name": "eBay Finding API (findCompletedItems)",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "GET against eBay Finding API. Iterates over each input item — 33 calls per run, sequential with 2s spacing (batchSize=1, batchInterval=2000ms) to stay under the Finding API rate limit. Standard tier limit is 5,000 calls/day; 2s/call → ~66s total wall time per run, ~30 req/min sustained — well under the per-second ceiling. categoryId 2536 = Trading Card Singles."
    },
    {
      "parameters": {
        "jsCode": "// Parse Finding API responses into ebay_transactions rows.\n//\n// Finding API JSON quirks:\n//   - Every leaf value is wrapped in a 1-element array\n//   - Numbers come as strings\n//   - Currency price lives at sellingStatus[0].currentPrice[0].__value__\n//   - endTime is ISO 8601 UTC\n//\n// Each result row inherits the SEARCHED card's identity (card_id,\n// card_code, card_name, set_name, card_number, edition). The searched\n// card's keywords were tight enough to expect mostly-correct results;\n// false positives are accepted in v1.\n//\n// Grader+grade: parsed from listing title. Only emit canonical pairs that\n// definitely exist in master_grade_catalog (PSA/CGC/BGS/SGC + 0.5-step\n// grades 1..10). If parsing fails on either, BOTH are emitted as NULL so\n// the (grader, grade) → master_grade_catalog FK doesn't reject the row.\n//\n// Input/card mapping: the HTTP node iterates 1:1 over Build Search URLs'\n// 33 outputs, so resp[i] corresponds to builds[i]. We zip the two arrays\n// rather than relying on $itemIndex (which only exists in 'Run Once for\n// Each Item' mode; this Code node runs in default 'Run Once for All Items'\n// mode).\n\nfunction firstValue(arr) {\n  if (!arr) return null;\n  if (Array.isArray(arr) && arr.length > 0) return arr[0];\n  return arr;\n}\n\nfunction toNumber(v) {\n  if (v === null || v === undefined) return null;\n  const n = parseFloat(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction parseGraderGrade(title) {\n  if (!title) return { grader: null, grade: null };\n  const m = title.match(/\\b(PSA|CGC|BGS|SGC)\\s*(10|9\\.5|9|8\\.5|8|7\\.5|7|6\\.5|6|5\\.5|5|4\\.5|4|3\\.5|3|2\\.5|2|1\\.5|1)\\b/i);\n  if (!m) return { grader: null, grade: null };\n  return { grader: m[1].toUpperCase(), grade: m[2] };\n}\n\nfunction deriveSaleType(listingType) {\n  // findCompletedItems listingType values:\n  //   Auction, AuctionWithBIN → v2 'auction'\n  //   FixedPrice, StoreInventory → v2 'fixed_price'\n  //   AdFormat, Classified → default to 'fixed_price'\n  if (!listingType) return 'fixed_price';\n  const t = String(listingType).toLowerCase();\n  if (t.includes('auction')) return 'auction';\n  return 'fixed_price';\n}\n\nconst inputs = $input.all();\nconst builds = $('Build Search URLs').all();\nconst out = [];\n\nfor (let i = 0; i < inputs.length; i++) {\n  const card = (builds[i] && builds[i].json) || {};\n  const resp = (inputs[i] && inputs[i].json) || {};\n\n  const root = firstValue(resp.findCompletedItemsResponse) || {};\n  const ack = firstValue(root.ack);\n  if (ack !== 'Success' && ack !== 'Warning') continue;\n\n  const searchResult = firstValue(root.searchResult) || {};\n  const items = searchResult.item || [];\n\n  for (const item of items) {\n    const itemId = firstValue(item.itemId);\n    if (!itemId) continue;\n\n    const title = firstValue(item.title);\n    const url = firstValue(item.viewItemURL);\n    const galleryURL = firstValue(item.galleryURL);\n\n    const sellingStatus = firstValue(item.sellingStatus) || {};\n    const currentPrice = firstValue(sellingStatus.currentPrice) || {};\n    const soldPrice = toNumber(currentPrice.__value__);\n    const currency = currentPrice['@currencyId'] || 'USD';\n\n    const listingInfo = firstValue(item.listingInfo) || {};\n    const endTime = firstValue(listingInfo.endTime);\n    const startTime = firstValue(listingInfo.startTime);\n    const listingType = firstValue(listingInfo.listingType);\n\n    const sellerInfo = firstValue(item.sellerInfo) || {};\n    const sellerUsername = firstValue(sellerInfo.sellerUserName);\n    const sellerFeedbackPct = toNumber(firstValue(sellerInfo.positiveFeedbackPercent));\n\n    const condition = firstValue(item.condition) || {};\n    const conditionName = firstValue(condition.conditionDisplayName);\n\n    const { grader, grade } = parseGraderGrade(title);\n    const saleType = deriveSaleType(listingType);\n\n    out.push({\n      json: {\n        item_id: itemId,\n        card_id: card.card_id,\n        card_code: card.card_code,\n        card_name: card.card_name,\n        set_name: card.set_name,\n        card_number: card.card_number,\n        edition: card.edition,\n        grader,\n        grade,\n        platform: 'ebay',\n        currency,\n        sold_price: soldPrice,\n        listed_price: soldPrice,\n        sold_at: endTime,\n        listed_at: startTime,\n        sale_type: saleType,\n        seller_username: sellerUsername,\n        seller_feedback_pct: sellerFeedbackPct,\n        title_raw: title,\n        condition: conditionName,\n        raw_payload: JSON.stringify(item)\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "code-parse-results",
      "name": "Parse Sold Comps",
      "notes": "Each input is one card's worth of eBay results. Output one row per individual sold listing. Identity (card_id, card_code, set_name, etc.) inherited from the searched card. grader+grade parsed from title; both NULL if either can't be derived (FK-safe)."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH grade_check AS (\n  SELECT\n    $8::text AS in_grader,\n    $9::text AS in_grade,\n    CASE\n      WHEN $8 IS NULL OR $9 IS NULL THEN TRUE\n      WHEN EXISTS (SELECT 1 FROM master_grade_catalog\n                    WHERE grader = $8 AND raw_label = $9) THEN TRUE\n      ELSE FALSE\n    END AS pair_valid\n)\nINSERT INTO ebay_transactions (\n  item_id, card_id, card_code, card_name, set_name, card_number, edition,\n  grader, grade, platform, currency,\n  sold_price, listed_price, sold_at, sale_type,\n  seller, seller_feedback_pct,\n  title_raw, raw_payload, inserted_at\n)\nSELECT\n  $1, $2, $3, $4, $5, $6, COALESCE($7, 'N/A'),\n  CASE WHEN gc.pair_valid THEN gc.in_grader ELSE NULL END,\n  CASE WHEN gc.pair_valid THEN gc.in_grade  ELSE NULL END,\n  'ebay', $10,\n  $11, $12, $13::timestamptz, $14,\n  $15, $16,\n  $17, $18::jsonb, NOW()\nFROM grade_check gc\nON CONFLICT (item_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ $json.item_id }}, ={{ $json.card_id }}, ={{ $json.card_code }}, ={{ $json.card_name }}, ={{ $json.set_name }}, ={{ $json.card_number }}, ={{ $json.edition }}, ={{ $json.grader }}, ={{ $json.grade }}, ={{ $json.currency }}, ={{ $json.sold_price }}, ={{ $json.listed_price }}, ={{ $json.sold_at }}, ={{ $json.sale_type }}, ={{ $json.seller_username }}, ={{ $json.seller_feedback_pct }}, ={{ $json.title_raw }}, ={{ $json.raw_payload }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [240, 0],
      "id": "pg-insert-transactions",
      "name": "Insert into ebay_transactions",
      "credentials": {
        "postgres": {
          "id": "dQxOaWILJI9iNiQc",
          "name": "Postgres EventHorizon"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "ON CONFLICT (item_id) DO NOTHING — eBay item_ids never recycle, so re-runs are safely idempotent. INSERT references only columns confirmed present on live ebay_transactions; listing_url / image_url / condition / seller_feedback / created_at not in this table (they live on ebay_asks). Column `seller` (legacy) carries the parsed seller_username (data-standard §11.4 naming-drift list — convergence pending). grade_check CTE consults master_grade_catalog FK before insert — non-canonical (grader, grade) pairs land as (NULL, NULL) instead of FK-rejecting the whole row, matching the data-standard §1 'rows that fail resolution still insert' pattern."
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 08:00 UTC)": {
      "main": [[{"node": "Get Daily 33 Cards", "type": "main", "index": 0}]]
    },
    "Get Daily 33 Cards": {
      "main": [[{"node": "Build Search URLs", "type": "main", "index": 0}]]
    },
    "Build Search URLs": {
      "main": [[{"node": "eBay Finding API (findCompletedItems)", "type": "main", "index": 0}]]
    },
    "eBay Finding API (findCompletedItems)": {
      "main": [[{"node": "Parse Sold Comps", "type": "main", "index": 0}]]
    },
    "Parse Sold Comps": {
      "main": [[{"node": "Insert into ebay_transactions", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": [{"name": "eventhorizon"}, {"name": "pokemonbhn"}]
}
