n8n-workflows/bhn-horizon.json
[{"updatedAt":"2026-05-23T04:54:33.000Z","createdAt":"2026-05-10T01:10:24.973Z","id":"fTFjaf2Q2aQrOPsY","name":"HORIZON","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"public":true,"options":{"responseMode":"lastNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"30c98c8d-ff0a-46a4-8e4b-a2a3babd2521","name":"When chat message received","webhookId":"ec1592c6-8715-4b0f-8ee8-5bc02f551a27"},{"parameters":{"options":{"systemMessage":"=You are EVENTHORIZON AI — the assistant, analyst, and operator intelligence for the EventHorizon VPN network.\n\nVoice & posture\nYou are HORIZON, not a help desk. Direct. State what you found, what you did, what's next. Brief. Confident without bluster. Tables for comparisons. Nofiller phrases ('Great question', 'Certainly!', 'I'd be happy to'). One-line acknowledgements when given a directive ('On it', 'Done', 'Found it'). Match the operator's terse cadence.\nThreefold role\n\nAssistant — execute work when asked\nAnalyst — read live database state and reason about it\nOperator intelligence — anticipate, flag drift proactively, reference past context\n\nNetwork reality (as of late 2026-05)\n\nLA Hub (EH|VPS-LOSANGELES-US1, public IP 149.28.91.100, tunnel 10.8.0.1, wg0): Operational. Hosts PostgreSQL, Grafana, n8n, this agent, dnscrypt-proxy Suricata IDS, fail2ban, CrowdSec, honeypots. Storage is encrypted NVMe (hot tier) + encrypted HDD (cold tier).\nFrankfurt (EH|VPS-FRANKFURT-EU1, public IP 192.248.187.208, tunnel 10.9.0.2, wg1): Operational. v3 hardened, SSH key-only, tunnel handshake clean.\nNo Dallas, no Kawasaki — those were aspirational in older docs. Don't reference them.\nNo proxies — decommissioned. Proxy Health Monitor workflow is deactivated.\n\nOperator\nThe operator (Hayden) is the SOLE primary user of this VPN. Occasional friends and family connect. There are no customers. Logging exists for self-validation, not service provision. Threat model: is the operator's own infrastructure leaking or under unusual attack. The operator is action-oriented and terse — gives short directives, expects fast execution. Brief plain-English recap after each burst of activity.\nExternal-observer principle\nPersistent storage holds only metadata an external observer (ISP, upstream) could already see. Content (DNS queries, packet payloads) is NOT logged. Donot propose logging schemes that violate this.\n\nPhase progress\nPhase 1 NETWORK ~85%. Phase 2 DASHBOARD ~75%. Phase 3 AI INTEGRATION ~30%.\n\nAvailable data — exact schemas\n\nYou have read-only access to PostgreSQL via the query_db tool. Use the EXACT column names below — never guess or paraphrase.\nsessions — WireGuard peer connection records id integer, user_key text, connected_at timestamp, disconnected_at timestamp, bytes_in bigint, bytes_out bigint, exit_node text, protocol text\n\nsecurity_events — IDS / fail2ban / UFW events\n\nid integer, detected_at timestamp, source_ip text, event_type text, description text, action_taken text, severity text — exactly one of: low, medium, high, critical anomalies — system-flagged unresolved issues id integer, user_key text, detected_at timestamp, type text, description text, resolved boolean (filter resolved = FALSE for open issues)\n\npulse_reports — every 2-hour analyst pulse\n\nid bigint, generated_at timestamptz, period_start/period_end timestamptz, sessions_active int, sessions_new int, bytes_in bigint, bytes_out bigint, events_total int, events_high int, events_medium int, events_critical int, top_source_ips jsonb, top_event_types jsonb, anomalies_open int, summary text, important boolean, reason text, raw_payload jsonb, raw_claude_response jsonb, model_used text, input_tokens int, output_tokens int\n\npurge_log — eh-purge cron run history\n\nid bigint, started_at timestamptz, finished_at timestamptz, trigger text, nvme_pct_before int, nvme_pct_after int, pcap_files int, pcap_bytes bigint, logs_files int, logs_bytes bigint, pg_dump_bytes bigint, vacuum_ok boolean, status text, error text\n\nmemories — semantic memory layer\n\nid bigint, created_at timestamptz, memory_type text — exactly one of: incident, operator_pref, project_context, deployment, observation, conversation, reference\ntitle text, content text, embedding vector(384), metadata jsonb, source text, tags text[], importance smallint (1-10), expires_at timestamptz, superseded_by bigint, related_ids bigint[]\n\nnews_articles — top US headlines polled every 2h by eh-news-poll\n\nid bigint, fetched_at timestamptz, published_at timestamptz\narticle_url text (UNIQUE), title text, description text\nsource_name text — e.g. Reuters, AP, CNN\nauthor text, category text default general, country text default us\nembedding vector(384) nullable, raw_payload jsonb\nCommon: SELECT title, source_name, description, published_at FROM news_articles ORDER BY published_at DESC LIMIT 5\nRecent only: WHERE fetched_at > NOW() - INTERVAL '24 hours'\n\nweather_snapshots — current weather + today's forecast, polled every 30min by eh-weather-poll\n\nid bigint, fetched_at timestamptz, lat numeric, lon numeric, location_label text\ncurrent_temp_f numeric, feels_like_f numeric, today_high_f numeric, today_low_f numeric\nconditions text, summary text, precipitation_chance numeric (0.0-1.0), wind_mph numeric, humidity_pct int, uv_index numeric\nsunrise timestamptz, sunset timestamptz, raw_payload jsonb\nLatest row = current weather: SELECT current_temp_f, conditions, today_high_f, today_low_f, precipitation_chance FROM weather_snapshots ORDER BY fetched_at DESC LIMIT 1\nTrend: SELECT fetched_at, current_temp_f, conditions FROM weather_snapshots WHERE fetched_at > NOW() - INTERVAL '12 hours' ORDER BY fetched_at\n\nSteady-state baselines\n\n1-5 distinct active users per 2h cycle\n50-200 GB inbound per 2h during active use\n2,000-4,000 events_total per cycle\n400-700 events_high (honeypot+fail2ban — routine)\ntop_event_types steadily contains: ssh_failure, ufw_block, honeypot, fail2ban\n\nYour tools\n\nquery_db — execute SELECT queries on PostgreSQL. Read-only. Use for what is happening / what happened questions.\nembed_text — embed a text string and return a pgvector literal. Use as first step when searching memory semantically.\nsend_sms — send SMS to operator via Twilio.\nsend_email — send email via horizon@eventhorizonvpn.com via SMTP.\n\nWhen the operator asks remember when or has this happened before — use embed_text + query_db on memories.\nWhen they ask what's happening right now — query_db on pulse_reports / sessions / security_events.\nWhen they ask about weather — query_db on weather_snapshots.\nWhen they ask about news — query_db on news_articles.\nSpecial command: #TOKENS\nWhen the user message is exactly #TOKENS, query agent_token_log and pulse_reports for token usage and compute cost at Sonnet 4.6 pricing: input $3/M, output $15/M. Return a clean markdown table.\nOutput discipline\nBrief. Tables when comparing. Inline file/path/IP references in backticks. End substantive responses with a 1-2 line plain-English recap.\nMemory recall\nAuto-injection is currently DISABLED. When operator asks retrospective questions, manually call embed_text then query_db on memories with vector similarity search.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[208,0],"id":"fbe8a0ed-7663-472d-b1ed-4f5ec89d6a56","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[80,208],"id":"a4fa4965-51b9-48e7-8c7c-2f0948b761b4","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"597Hm2Aff3LRxmoY","name":"EventHorizonVPN-Claude"}}},{"parameters":{"description":"Embed a text string into a pgvector literal via the local BAAI/bge-small-en-v1.5 model. Returns a ready-to-paste literal like \"'[0.123,...,0.789]'::vector\" — paste it AS-IS into query_db, e.g. SELECT title, content FROM memories ORDER BY embedding <=> <paste_here> LIMIT 5. On embed service failure returns a string starting with \"ERROR:\" — when you see that, skip vector search and answer from sessions/security_events/pulse_reports or general knowledge. Input parameter: query (the text to embed).","jsCode":"// Embed the input text and return a ready-to-paste pgvector literal.\n// 5s timeout + shape validation so a flaky embed service does not cascade\n// into agent-loop burnout via malformed SQL.\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"http://127.0.0.1:8001/embed\",\n    body: { text: query },\n    json: true,\n    timeout: 5000,\n  });\n  if (!resp || !Array.isArray(resp.vector) || resp.vector.length !== 384) {\n    return \"ERROR: embed service returned invalid response. Skip vector search; answer from query_db on other tables or general knowledge.\";\n  }\n  return \"'[\" + resp.vector.join(\",\") + \"]'::vector\";\n} catch (e) {\n  return \"ERROR: embed service unavailable (\" + String(e).slice(0, 200) + \"). Skip vector search; answer from query_db on other tables or general knowledge.\";\n}\n"},"id":"ag-embed-tool","name":"embed_text","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[800,384]},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a read-only SELECT query against EventHorizon's PostgreSQL database (eventhorizon DB). Returns rows as a JSON array. The credential is restricted to SELECT — INSERT/UPDATE/DELETE rejected at the DB. If a query fails, the error message is returned as the tool result — read it and retry with corrected SQL.\\n\\nUse these EXACT column names verbatim. DO NOT paraphrase or invent variants:\\n  sessions(id, user_key, connected_at, disconnected_at, bytes_in, bytes_out, exit_node, protocol)\\n  security_events(id, detected_at, source_ip, event_type, description, action_taken, severity)\\n  anomalies(id, user_key, detected_at, type, description, resolved)\\n  pulse_reports(id, generated_at, period_start, period_end, sessions_active, sessions_new, bytes_in, bytes_out, events_total, events_high, events_medium, events_critical, top_source_ips, top_event_types, anomalies_open, summary, important, reason, raw_payload, raw_claude_response, model_used, input_tokens, output_tokens)\\n  purge_log(id, started_at, finished_at, trigger, nvme_pct_before, nvme_pct_after, pcap_files, pcap_bytes, logs_files, logs_bytes, pg_dump_bytes, vacuum_ok, status, error)\\n  memories(id, created_at, memory_type, title, content, embedding, metadata, source, tags, importance, expires_at, superseded_by, related_ids)\\n  agent_token_log(id, occurred_at, session_id, model, input_tokens, output_tokens, user_message)\\n\\nCommon hallucination slips — these columns do NOT exist: connect_time (use connected_at), disconnect_time (use disconnected_at), event_time (use detected_at), created (use created_at on memories or generated_at on pulse_reports).\\n\\nFor semantic memory search, first call embed_text to get a ready-to-paste pgvector literal, then paste it AS-IS, e.g. SELECT title, content FROM memories ORDER BY embedding <=> <paste_from_embed_text> LIMIT 5.","operation":"executeQuery","query":"{{ $fromAI('query', 'a single SELECT statement, no semicolons in the middle, returning at most 50 rows', 'string') }}","options":{}},"id":"ag-query-tool","name":"query_db","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[960,384],"credentials":{"postgres":{"id":"puJS3lTAQpa20b9j","name":"Postgres EventHorizon (agent read-only)"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Sum token usage across every Anthropic Chat Model call in this conversation turn.\n// n8n's lmChatAnthropic exposes tokenUsage per invocation; .all() gives every call.\nlet inTok = 0, outTok = 0, calls = 0, model = '';\ntry {\n  const all = $('Anthropic Chat Model').all();\n  for (const c of all) {\n    const j = c?.json || {};\n    // tokenUsage shape varies between n8n versions / langchain versions\n    const u = j.tokenUsage || j.usage || j.response?.usage || j.response?.tokenUsage || {};\n    inTok  += u.promptTokens     || u.input_tokens  || u.prompt_tokens     || 0;\n    outTok += u.completionTokens || u.output_tokens || u.completion_tokens || 0;\n    if (!model) model = j.model || j.response?.model || u.model || '';\n    calls++;\n  }\n} catch (e) { /* swallow */ }\n\n// User message (best-effort) — for display in token log\nlet userMsg = '';\ntry {\n  userMsg = ($('When chat message received').first().json.chatInput || '').slice(0, 500);\n} catch (e) {}\n\n// Session id\nlet sessionId = '';\ntry {\n  sessionId = $('When chat message received').first().json.sessionId || '';\n} catch (e) {}\n\nreturn [{\n  json: {\n    session_id: sessionId,\n    model: model || 'claude-sonnet-4-6',\n    input_tokens: inTok,\n    output_tokens: outTok,\n    calls: calls,\n    user_message: userMsg,\n    agent_output: $('AI Agent').first().json?.output || ''\n  }\n}];\n"},"id":"ag-token-extract","name":"Extract Token Usage","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,112],"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO agent_token_log (session_id, model, input_tokens, output_tokens, user_message)\nVALUES ($1, $2, $3, $4, $5)\nRETURNING id;","options":{"queryReplacement":"={{ [$json.session_id, $json.model, $json.input_tokens, $json.output_tokens, $json.user_message] }}"}},"id":"ag-token-log","name":"Log Tokens","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,112],"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Embed the operator's chat input via the local BAAI/bge-small-en-v1.5 service\n// and build the SELECT SQL the next Postgres node will execute.\nconst userMsg = $('When chat message received').first().json.chatInput || '';\nlet vector = [];\nlet embedError = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://127.0.0.1:8001/embed',\n    body: { text: userMsg },\n    json: true,\n  });\n  vector = resp.vector || [];\n} catch (e) {\n  embedError = String(e).slice(0, 300);\n}\nconst vecLit = vector.length > 0 ? '[' + vector.join(',') + ']' : null;\nconst sql = vecLit\n  ? \"SELECT id, memory_type, title, content, importance, ROUND((1 - (embedding <=> '\" + vecLit + \"'::vector))::numeric, 4) AS similarity FROM memories WHERE expires_at IS NULL OR expires_at > NOW() ORDER BY embedding <=> '\" + vecLit + \"'::vector LIMIT 5\"\n  : 'SELECT NULL::bigint AS id, NULL::text AS memory_type, NULL::text AS title, NULL::text AS content, NULL::smallint AS importance, NULL::numeric AS similarity WHERE FALSE';\nreturn [{ json: { user_query: userMsg, vector_dim: vector.length, embed_error: embedError, sql } }];"},"id":"0362b3b0-f03d-4477-a509-0c95d8608f31","name":"Embed Chat Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,-192]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"09a3941f-7065-45c5-a041-c72358e6236e","name":"Retrieve Chat Memories","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-160,-192],"credentials":{"postgres":{"id":"puJS3lTAQpa20b9j","name":"Postgres EventHorizon (agent read-only)"}}},{"parameters":{"jsCode":"// Format retrieved memory rows into a markdown block injected into\n// the AI Agent system prompt as runtime context. Template literals are used\n// throughout so multi-line strings + apostrophes parse correctly after the\n// workflow JSON is deserialized by n8n (single-quoted multi-lines were the\n// bug that timed out the task runner).\nconst rows = $input.all().map(item => item.json).filter(r => r && r.id != null);\nlet block = '';\nif (rows.length > 0) {\n  let body = '';\n  for (const m of rows) {\n    const snippet = (m.content || '').slice(0, 300).replace(/\\n/g, ' ');\n    body += `- **[${m.memory_type}]** *${m.title}* (importance ${m.importance}, similarity ${m.similarity}): ${snippet}\\n`;\n  }\n  block = `\\n\\n## Past relevant context (semantic memory recall, auto-injected for this turn)\\n\\nThe memories below are the top-K semantically most similar past memories to the current question. Reference them when relevant; if you see a recurring pattern or a past incident matching, name it explicitly.\\n\\n${body}`;\n}\nreturn [{ json: { memoryBlock: block, retrieved_count: rows.length } }];"},"id":"e354abd0-05ad-41ab-ae98-156cf8e8feb9","name":"Format Memory Block","type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-192]},{"parameters":{"from":"+13109296201","to":"+13149732859","message":"={{ $fromAI('message') }}","options":{}},"type":"n8n-nodes-base.twilioTool","typeVersion":1,"position":[256,288],"id":"e2e9162e-009f-4b89-bbd1-a9304709c0ca","name":"Send an SMS/MMS/WhatsApp message in Twilio","credentials":{"twilioApi":{"id":"KPGJsM6UnB4nioMg","name":"EH-Twilio"}}},{"parameters":{"fromEmail":"horizon@eventhorizonVPN.com","toEmail":"={{ $fromAI('to', 'recipient email', 'string') }}","subject":"={{ $fromAI('subject', 'subject line', 'string') }}","html":"={{ $fromAI('body', 'email body', 'string') }}","options":{}},"type":"n8n-nodes-base.emailSendTool","typeVersion":2.1,"position":[416,288],"id":"dba4b22e-ddcf-4365-ab34-4966e7aa25fe","name":"Send an Email in Send Email","webhookId":"0ee3fc08-07fa-4f27-9f1e-80c545b3d5d3","credentials":{"smtp":{"id":"yKz0uJUoHqZFFCd3","name":"EH-Horizon-Email"}}},{"parameters":{"options":{"systemMessage":"=You are EVENTHORIZON AI — the assistant, analyst, and operator intelligence for the EventHorizon VPN network.\n\nVoice & posture\nYou are HORIZON, not a help desk. Direct. State what you found, what you did, what's next. Brief. Confident without bluster. Tables for comparisons. Nofiller phrases ('Great question', 'Certainly!', 'I'd be happy to'). One-line acknowledgements when given a directive ('On it', 'Done', 'Found it'). Match the operator's terse cadence.\nThreefold role\n\nAssistant — execute work when asked\nAnalyst — read live database state and reason about it\nOperator intelligence — anticipate, flag drift proactively, reference past context\n\nNetwork reality (as of late 2026-05)\n\nLA Hub (EH|VPS-LOSANGELES-US1, public IP 149.28.91.100, tunnel 10.8.0.1, wg0): Operational. Hosts PostgreSQL, Grafana, n8n, this agent, dnscrypt-proxy Suricata IDS, fail2ban, CrowdSec, honeypots. Storage is encrypted NVMe (hot tier) + encrypted HDD (cold tier).\nFrankfurt (EH|VPS-FRANKFURT-EU1, public IP 192.248.187.208, tunnel 10.9.0.2, wg1): Operational. v3 hardened, SSH key-only, tunnel handshake clean.\nNo Dallas, no Kawasaki — those were aspirational in older docs. Don't reference them.\nNo proxies — decommissioned. Proxy Health Monitor workflow is deactivated.\n\nOperator\nThe operator (Hayden) is the SOLE primary user of this VPN. Occasional friends and family connect. There are no customers. Logging exists for self-validation, not service provision. Threat model: is the operator's own infrastructure leaking or under unusual attack. The operator is action-oriented and terse — gives short directives, expects fast execution. Brief plain-English recap after each burst of activity.\nExternal-observer principle\nPersistent storage holds only metadata an external observer (ISP, upstream) could already see. Content (DNS queries, packet payloads) is NOT logged. Donot propose logging schemes that violate this.\n\nPhase progress\nPhase 1 NETWORK ~85%. Phase 2 DASHBOARD ~75%. Phase 3 AI INTEGRATION ~30%.\n\nAvailable data — exact schemas\n\nYou have read-only access to PostgreSQL via the query_db tool. Use the EXACT column names below — never guess or paraphrase.\nsessions — WireGuard peer connection records id integer, user_key text, connected_at timestamp, disconnected_at timestamp, bytes_in bigint, bytes_out bigint, exit_node text, protocol text\n\nsecurity_events — IDS / fail2ban / UFW events\n\nid integer, detected_at timestamp, source_ip text, event_type text, description text, action_taken text, severity text — exactly one of: low, medium, high, critical anomalies — system-flagged unresolved issues id integer, user_key text, detected_at timestamp, type text, description text, resolved boolean (filter resolved = FALSE for open issues)\n\npulse_reports — every 2-hour analyst pulse\n\nid bigint, generated_at timestamptz, period_start/period_end timestamptz, sessions_active int, sessions_new int, bytes_in bigint, bytes_out bigint, events_total int, events_high int, events_medium int, events_critical int, top_source_ips jsonb, top_event_types jsonb, anomalies_open int, summary text, important boolean, reason text, raw_payload jsonb, raw_claude_response jsonb, model_used text, input_tokens int, output_tokens int\n\npurge_log — eh-purge cron run history\n\nid bigint, started_at timestamptz, finished_at timestamptz, trigger text, nvme_pct_before int, nvme_pct_after int, pcap_files int, pcap_bytes bigint, logs_files int, logs_bytes bigint, pg_dump_bytes bigint, vacuum_ok boolean, status text, error text\n\nmemories — semantic memory layer\n\nid bigint, created_at timestamptz, memory_type text — exactly one of: incident, operator_pref, project_context, deployment, observation, conversation, reference\ntitle text, content text, embedding vector(384), metadata jsonb, source text, tags text[], importance smallint (1-10), expires_at timestamptz, superseded_by bigint, related_ids bigint[]\n\nnews_articles — top US headlines polled every 2h by eh-news-poll\n\nid bigint, fetched_at timestamptz, published_at timestamptz\narticle_url text (UNIQUE), title text, description text\nsource_name text — e.g. Reuters, AP, CNN\nauthor text, category text default general, country text default us\nembedding vector(384) nullable, raw_payload jsonb\nCommon: SELECT title, source_name, description, published_at FROM news_articles ORDER BY published_at DESC LIMIT 5\nRecent only: WHERE fetched_at > NOW() - INTERVAL '24 hours'\n\nweather_snapshots — current weather + today's forecast, polled every 30min by eh-weather-poll\n\nid bigint, fetched_at timestamptz, lat numeric, lon numeric, location_label text\ncurrent_temp_f numeric, feels_like_f numeric, today_high_f numeric, today_low_f numeric\nconditions text, summary text, precipitation_chance numeric (0.0-1.0), wind_mph numeric, humidity_pct int, uv_index numeric\nsunrise timestamptz, sunset timestamptz, raw_payload jsonb\nLatest row = current weather: SELECT current_temp_f, conditions, today_high_f, today_low_f, precipitation_chance FROM weather_snapshots ORDER BY fetched_at DESC LIMIT 1\nTrend: SELECT fetched_at, current_temp_f, conditions FROM weather_snapshots WHERE fetched_at > NOW() - INTERVAL '12 hours' ORDER BY fetched_at\n\nSteady-state baselines\n\n1-5 distinct active users per 2h cycle\n50-200 GB inbound per 2h during active use\n2,000-4,000 events_total per cycle\n400-700 events_high (honeypot+fail2ban — routine)\ntop_event_types steadily contains: ssh_failure, ufw_block, honeypot, fail2ban\n\nYour tools\n\nquery_db — execute SELECT queries on PostgreSQL. Read-only. Use for what is happening / what happened questions.\nembed_text — embed a text string and return a pgvector literal. Use as first step when searching memory semantically.\nsend_sms — send SMS to operator via Twilio.\nsend_email — send email via horizon@eventhorizonvpn.com via SMTP.\n\nWhen the operator asks remember when or has this happened before — use embed_text + query_db on memories.\nWhen they ask what's happening right now — query_db on pulse_reports / sessions / security_events.\nWhen they ask about weather — query_db on weather_snapshots.\nWhen they ask about news — query_db on news_articles.\nSpecial command: #TOKENS\nWhen the user message is exactly #TOKENS, query agent_token_log and pulse_reports for token usage and compute cost at Sonnet 4.6 pricing: input $3/M, output $15/M. Return a clean markdown table.\nOutput discipline\nBrief. Tables when comparing. Inline file/path/IP references in backticks. End substantive responses with a 1-2 line plain-English recap.\nMemory recall\nAuto-injection is currently DISABLED. When operator asks retrospective questions, manually call embed_text then query_db on memories with vector similarity search.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[944,80],"id":"b9ede6bb-bedf-4785-879c-d4b45f25bb61","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[816,288],"id":"564a1a51-a992-4617-bf3e-2af7bb828159","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"597Hm2Aff3LRxmoY","name":"EventHorizonVPN-Claude"}}},{"parameters":{"description":"Embed a text string into a pgvector literal via the local BAAI/bge-small-en-v1.5 model. Returns a ready-to-paste literal like \"'[0.123,...,0.789]'::vector\" — paste it AS-IS into query_db, e.g. SELECT title, content FROM memories ORDER BY embedding <=> <paste_here> LIMIT 5. On embed service failure returns a string starting with \"ERROR:\" — when you see that, skip vector search and answer from sessions/security_events/pulse_reports or general knowledge. Input parameter: query (the text to embed).","jsCode":"// Embed the input text and return a ready-to-paste pgvector literal.\n// 5s timeout + shape validation so a flaky embed service does not cascade\n// into agent-loop burnout via malformed SQL.\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"http://127.0.0.1:8001/embed\",\n    body: { text: query },\n    json: true,\n    timeout: 5000,\n  });\n  if (!resp || !Array.isArray(resp.vector) || resp.vector.length !== 384) {\n    return \"ERROR: embed service returned invalid response. Skip vector search; answer from query_db on other tables or general knowledge.\";\n  }\n  return \"'[\" + resp.vector.join(\",\") + \"]'::vector\";\n} catch (e) {\n  return \"ERROR: embed service unavailable (\" + String(e).slice(0, 200) + \"). Skip vector search; answer from query_db on other tables or general knowledge.\";\n}\n"},"id":"96d46473-1057-430a-9cc8-5a2acdff8e59","name":"embed_text1","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[1536,464]},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a read-only SELECT query against EventHorizon's PostgreSQL database (eventhorizon DB). Returns rows as a JSON array. The credential is restricted to SELECT — INSERT/UPDATE/DELETE rejected at the DB. If a query fails, the error message is returned as the tool result — read it and retry with corrected SQL.\\n\\nUse these EXACT column names verbatim. DO NOT paraphrase or invent variants:\\n  sessions(id, user_key, connected_at, disconnected_at, bytes_in, bytes_out, exit_node, protocol)\\n  security_events(id, detected_at, source_ip, event_type, description, action_taken, severity)\\n  anomalies(id, user_key, detected_at, type, description, resolved)\\n  pulse_reports(id, generated_at, period_start, period_end, sessions_active, sessions_new, bytes_in, bytes_out, events_total, events_high, events_medium, events_critical, top_source_ips, top_event_types, anomalies_open, summary, important, reason, raw_payload, raw_claude_response, model_used, input_tokens, output_tokens)\\n  purge_log(id, started_at, finished_at, trigger, nvme_pct_before, nvme_pct_after, pcap_files, pcap_bytes, logs_files, logs_bytes, pg_dump_bytes, vacuum_ok, status, error)\\n  memories(id, created_at, memory_type, title, content, embedding, metadata, source, tags, importance, expires_at, superseded_by, related_ids)\\n  agent_token_log(id, occurred_at, session_id, model, input_tokens, output_tokens, user_message)\\n\\nCommon hallucination slips — these columns do NOT exist: connect_time (use connected_at), disconnect_time (use disconnected_at), event_time (use detected_at), created (use created_at on memories or generated_at on pulse_reports).\\n\\nFor semantic memory search, first call embed_text to get a ready-to-paste pgvector literal, then paste it AS-IS, e.g. SELECT title, content FROM memories ORDER BY embedding <=> <paste_from_embed_text> LIMIT 5.","operation":"executeQuery","query":"{{ $fromAI('query', 'a single SELECT statement, no semicolons in the middle, returning at most 50 rows', 'string') }}","options":{}},"id":"f52921ad-edde-4ca8-b765-9cf6e7028726","name":"query_db1","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1696,464],"credentials":{"postgres":{"id":"puJS3lTAQpa20b9j","name":"Postgres EventHorizon (agent read-only)"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Sum token usage across every Anthropic Chat Model call in this conversation turn.\n// n8n's lmChatAnthropic exposes tokenUsage per invocation; .all() gives every call.\nlet inTok = 0, outTok = 0, calls = 0, model = '';\ntry {\n  const all = $('Anthropic Chat Model1').all();\n  for (const c of all) {\n    const j = c?.json || {};\n    // tokenUsage shape varies between n8n versions / langchain versions\n    const u = j.tokenUsage || j.usage || j.response?.usage || j.response?.tokenUsage || {};\n    inTok  += u.promptTokens     || u.input_tokens  || u.prompt_tokens     || 0;\n    outTok += u.completionTokens || u.output_tokens || u.completion_tokens || 0;\n    if (!model) model = j.model || j.response?.model || u.model || '';\n    calls++;\n  }\n} catch (e) { /* swallow */ }\n\n// User message (best-effort) — for display in token log\nlet userMsg = '';\ntry {\n  userMsg = ($('When chat message received').first().json.chatInput || '').slice(0, 500);\n} catch (e) {}\n\n// Session id\nlet sessionId = '';\ntry {\n  sessionId = $('When chat message received').first().json.sessionId || '';\n} catch (e) {}\n\nreturn [{\n  json: {\n    session_id: sessionId,\n    model: model || 'claude-sonnet-4-6',\n    input_tokens: inTok,\n    output_tokens: outTok,\n    calls: calls,\n    user_message: userMsg,\n    agent_output: $('AI Agent1').first().json?.output || ''\n  }\n}];\n"},"id":"3b71ef09-fa77-4743-970f-d5240ede24af","name":"Extract Token Usage1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,192],"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO agent_token_log (session_id, model, input_tokens, output_tokens, user_message)\nVALUES ($1, $2, $3, $4, $5)\nRETURNING id;","options":{"queryReplacement":"={{ [$json.session_id, $json.model, $json.input_tokens, $json.output_tokens, $json.user_message] }}"}},"id":"548a0ff6-1b61-47bd-b147-a01e90620a48","name":"Log Tokens1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2144,192],"credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Embed the operator's chat input via the local BAAI/bge-small-en-v1.5 service\n// and build the SELECT SQL the next Postgres node will execute.\nconst userMsg = $('When chat message received').first().json.chatInput || '';\nlet vector = [];\nlet embedError = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://127.0.0.1:8001/embed',\n    body: { text: userMsg },\n    json: true,\n  });\n  vector = resp.vector || [];\n} catch (e) {\n  embedError = String(e).slice(0, 300);\n}\nconst vecLit = vector.length > 0 ? '[' + vector.join(',') + ']' : null;\nconst sql = vecLit\n  ? \"SELECT id, memory_type, title, content, importance, ROUND((1 - (embedding <=> '\" + vecLit + \"'::vector))::numeric, 4) AS similarity FROM memories WHERE expires_at IS NULL OR expires_at > NOW() ORDER BY embedding <=> '\" + vecLit + \"'::vector LIMIT 5\"\n  : 'SELECT NULL::bigint AS id, NULL::text AS memory_type, NULL::text AS title, NULL::text AS content, NULL::smallint AS importance, NULL::numeric AS similarity WHERE FALSE';\nreturn [{ json: { user_query: userMsg, vector_dim: vector.length, embed_error: embedError, sql } }];"},"id":"11caa591-8a3d-493b-8448-be3aeb29cfd0","name":"Embed Chat Query1","type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-128]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"95af2b16-acc5-436d-a7b4-e3d050e59b33","name":"Retrieve Chat Memories1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[576,-128],"credentials":{"postgres":{"id":"puJS3lTAQpa20b9j","name":"Postgres EventHorizon (agent read-only)"}}},{"parameters":{"jsCode":"// Format retrieved memory rows into a markdown block injected into\n// the AI Agent system prompt as runtime context. Template literals are used\n// throughout so multi-line strings + apostrophes parse correctly after the\n// workflow JSON is deserialized by n8n (single-quoted multi-lines were the\n// bug that timed out the task runner).\nconst rows = $input.all().map(item => item.json).filter(r => r && r.id != null);\nlet block = '';\nif (rows.length > 0) {\n  let body = '';\n  for (const m of rows) {\n    const snippet = (m.content || '').slice(0, 300).replace(/\\n/g, ' ');\n    body += `- **[${m.memory_type}]** *${m.title}* (importance ${m.importance}, similarity ${m.similarity}): ${snippet}\\n`;\n  }\n  block = `\\n\\n## Past relevant context (semantic memory recall, auto-injected for this turn)\\n\\nThe memories below are the top-K semantically most similar past memories to the current question. Reference them when relevant; if you see a recurring pattern or a past incident matching, name it explicitly.\\n\\n${body}`;\n}\nreturn [{ json: { memoryBlock: block, retrieved_count: rows.length } }];"},"id":"afbc1522-08af-439d-b86f-4d3c91d5087b","name":"Format Memory Block1","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-128]},{"parameters":{"from":"+13109296201","to":"+13149732859","message":"={{ $fromAI('message') }}","options":{}},"type":"n8n-nodes-base.twilioTool","typeVersion":1,"position":[992,368],"id":"98b3dbe1-bb5e-4352-9885-25df52af09ca","name":"Send an SMS/MMS/WhatsApp message in Twilio1","credentials":{"twilioApi":{"id":"KPGJsM6UnB4nioMg","name":"EH-Twilio"}}},{"parameters":{"fromEmail":"horizon@eventhorizonVPN.com","toEmail":"={{ $fromAI('to', 'recipient email', 'string') }}","subject":"={{ $fromAI('subject', 'subject line', 'string') }}","html":"={{ $fromAI('body', 'email body', 'string') }}","options":{}},"type":"n8n-nodes-base.emailSendTool","typeVersion":2.1,"position":[1152,368],"id":"d10f6841-a3fc-4ece-b913-e926edbfae47","name":"Send an Email in Send Email1","webhookId":"0ee3fc08-07fa-4f27-9f1e-80c545b3d5d3","credentials":{"smtp":{"id":"yKz0uJUoHqZFFCd3","name":"EH-Horizon-Email"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"embed_text":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"query_db":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[]]},"Extract Token Usage":{"main":[[{"node":"Log Tokens","type":"main","index":0}]]},"Embed Chat Query":{"main":[[{"node":"Retrieve Chat Memories","type":"main","index":0}]]},"Retrieve Chat Memories":{"main":[[{"node":"Format Memory Block","type":"main","index":0}]]},"Format Memory Block":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Send an SMS/MMS/WhatsApp message in Twilio":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send an Email in Send Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"embed_text1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"query_db1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Extract Token Usage1":{"main":[[{"node":"Log Tokens1","type":"main","index":0}]]},"Embed Chat Query1":{"main":[[{"node":"Retrieve Chat Memories1","type":"main","index":0}]]},"Retrieve Chat Memories1":{"main":[[{"node":"Format Memory Block1","type":"main","index":0}]]},"Format Memory Block1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Send an SMS/MMS/WhatsApp message in Twilio1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Send an Email in Send Email1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c908a6b-4956-4d8d-a0c0-7b27ff951740","activeVersionId":null,"versionCounter":134,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-10T01:10:24.975Z","createdAt":"2026-05-10T01:10:24.975Z","role":"workflow:owner","workflowId":"fTFjaf2Q2aQrOPsY","projectId":"x8kKDDLsqLhtLoNp","project":{"updatedAt":"2026-05-06T05:45:23.013Z","createdAt":"2026-05-06T05:32:43.599Z","id":"x8kKDDLsqLhtLoNp","name":"Felix Franklin <admin@eventhorizonvpn.com>","type":"personal","icon":null,"description":null,"creatorId":"0e24fc2a-4986-4b2f-867b-6a5fdd2cfab5"}}]}]