n8n-workflows/bhn-morning-brief.json
[
  {
    "name": "BHN Morning Brief",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "id": "mb-trigger-manual",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [-400, 0],
        "notes": "Operator clicks 'Execute Workflow' in n8n UI to fire a brief on demand. Equivalent to SSHing in and running `python3 morning_brief_generator.py`."
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "morning-brief",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "mb-trigger-webhook",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [-400, 200],
        "webhookId": "mb-webhook-id-placeholder",
        "notes": "Webhook POST /webhook/morning-brief. Body: {reason: 'sms' | 'incident' | 'manual'}. HORIZON's SMS handler hits this with reason=sms when operator texts 'BRIEF'. Grafana alertmanager hits this with reason=incident."
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/5 * * * *"
              }
            ]
          }
        },
        "id": "mb-trigger-schedule",
        "name": "Schedule Trigger (every 5m)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [-400, 400],
        "notes": "Fires every 5 minutes. The Python script's --check-schedule flag reads operator_config.brief_schedule and only proceeds when local-time matches the configured window. Default state: brief_schedule=NULL → exits silently."
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Parse webhook payload to determine CLI flags.\n// Body: { reason: 'sms' | 'incident' | 'manual' }\nconst body = $input.first().json.body || $input.first().json || {};\nconst reason = (body.reason || 'manual').toString().toLowerCase();\nlet flags = ['--reason', reason];\nif (reason === 'incident') {\n  flags.push('--on-incident');\n}\nreturn [{ json: { reason, flags, flagsCli: flags.join(' ') } }];"
        },
        "id": "mb-parse-webhook",
        "name": "Parse Webhook Reason",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-200, 200]
      },
      {
        "parameters": {
          "command": "=python3 /opt/bhn/scripts/horizon/morning_brief_generator.py {{ $json.flagsCli }}"
        },
        "id": "mb-exec-webhook",
        "name": "Run Brief (webhook)",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [0, 200],
        "onError": "continueRegularOutput",
        "notes": "Operator must adjust the absolute path if scripts live elsewhere on LA. systemd path: /opt/bhn/scripts/horizon/ (mirror of repo). The script handles trigger reasons internally via --reason and --on-incident."
      },
      {
        "parameters": {
          "command": "python3 /opt/bhn/scripts/horizon/morning_brief_generator.py --reason manual"
        },
        "id": "mb-exec-manual",
        "name": "Run Brief (manual)",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [0, 0],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "python3 /opt/bhn/scripts/horizon/morning_brief_generator.py --check-schedule"
        },
        "id": "mb-exec-schedule",
        "name": "Run Brief (schedule-check)",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [0, 400],
        "onError": "continueRegularOutput",
        "notes": "Runs every 5 minutes. The Python script self-gates against operator_config.brief_schedule + last_brief_sent_at. Exits silently when not due — no email, no notification."
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: $('Run Brief (webhook)').first().json.exitCode === 0 ? 'sent' : 'failed', reason: $('Parse Webhook Reason').first().json.reason, stdout: ($('Run Brief (webhook)').first().json.stdout || '').slice(0, 500), stderr: ($('Run Brief (webhook)').first().json.stderr || '').slice(0, 500) }) }}",
          "options": {}
        },
        "id": "mb-respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [200, 200]
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [[{"node": "Run Brief (manual)", "type": "main", "index": 0}]]
      },
      "Webhook Trigger": {
        "main": [[{"node": "Parse Webhook Reason", "type": "main", "index": 0}]]
      },
      "Parse Webhook Reason": {
        "main": [[{"node": "Run Brief (webhook)", "type": "main", "index": 0}]]
      },
      "Run Brief (webhook)": {
        "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
      },
      "Schedule Trigger (every 5m)": {
        "main": [[{"node": "Run Brief (schedule-check)", "type": "main", "index": 0}]]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }
]
