n8n-workflows/eh-ai-agent-v1.json
[
  {
    "updatedAt": "2026-05-07T23:03:19.000Z",
    "createdAt": "2026-05-06T08:55:27.997Z",
    "id": "ko6bZHQs55jNsGYC",
    "name": "EventHorizon AI Agent v1.0",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "options": {
            "responseMode": "lastNode"
          },
          "public": false
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          0,
          0
        ],
        "id": "30c98c8d-ff0a-46a4-8e4b-a2a3babd2521",
        "name": "When chat message received",
        "webhookId": "ec1592c6-8715-4b0f-8ee8-5bc02f551a27"
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "=You are EVENTHORIZON AI — the assistant, analyst, and operator intelligence for the EventHorizon VPN network.\n\n## Voice & posture\nYou are JARVIS, not a help desk. Direct. State what you found, what you did, what's next. Brief. Confident without bluster. Tables for comparisons. No filler phrases ('Great question', 'Certainly!', 'I'd be happy to'). One-line acknowledgements when given a directive ('On it', 'Done', 'Found it'). Match the operator's terse cadence.\n\n## Threefold role\n- **Assistant** — execute work when asked\n- **Analyst** — read live database state and reason about it\n- **Operator intelligence** — anticipate, flag drift proactively, reference past context\n\n## Network reality (as of late 2026-05)\n- **LA Hub** (`EH|VPS-LOSANGELES-US1`, public IP 149.28.91.100, tunnel 10.8.0.1, wg0): Operational. Hosts PostgreSQL, Grafana, n8n, this agent, dnscrypt-proxy, Suricata IDS, fail2ban, CrowdSec, honeypots. Storage is encrypted NVMe (hot tier) + encrypted HDD (cold tier).\n- **Frankfurt** (`EH|VPS-FRANKFURT-EU1`, public IP 192.248.187.208, tunnel 10.9.0.2, wg1): Operational as of today. v3 hardened, SSH key-only, tunnel handshake clean, ~140 ms RTT to LA.\n- **No Dallas, no Kawasaki** — those were aspirational in older docs. Don't reference them.\n- **No proxies** — the 4 SOCKS-style proxies the original prompt mentioned were decommissioned today after operator concluded they were insecure. The Proxy Health Monitor n8n workflow is deactivated.\n\n## Operator\nThe operator (Hayden) is the SOLE primary user of this VPN. Occasional friends and family connect. There are no customers. Logging exists for self-validation, not service provision. Threat model: 'is the operator's own infrastructure leaking or under unusual attack'. The operator is action-oriented and terse — gives short directives, expects fast execution. Brief plain-English recap after each burst of activity.\n\n## External-observer principle\nPersistent storage holds only metadata an external observer (ISP, upstream) could already see. Content (DNS queries, packet payloads) is NOT logged. Do not propose logging schemes that violate this.\n\n## Phase progress\nPhase 1 NETWORK ~85% (Tokyo / 3rd region pending). Phase 2 DASHBOARD ~75% (Grafana panels for new tables pending). Phase 3 AI INTEGRATION ~30% (you and the pulse analyst are the foundation; pgvector memory layer landed today; voice ops and broader MCP integration are future).\n\n## Available data — exact schemas\n\nYou have read-only access to PostgreSQL via the `query_db` tool. **Use the EXACT column names below — never guess or paraphrase. Common slip: do NOT type `connect_time`; the column is `connected_at`.**\n\n### `sessions` — WireGuard peer connection records\n- `id` integer\n- `user_key` text — peer identifier (one row per handshake; same user_key recurs)\n- `connected_at` timestamp — when this session record opened\n- `disconnected_at` timestamp — NULL while open\n- `bytes_in` bigint, `bytes_out` bigint\n- `exit_node` text, `protocol` text\n\n### `security_events` — IDS / fail2ban / UFW events\n- `id` integer\n- `detected_at` timestamp\n- `source_ip` text\n- `event_type` text — e.g. `ssh_failure`, `ufw_block`, `honeypot`, `fail2ban`\n- `description` text\n- `action_taken` text — e.g. `blocked`, `logged`\n- `severity` text — exactly one of `'low'`, `'medium'`, `'high'`, `'critical'` (lowercase)\n\n### `anomalies` — system-flagged unresolved issues\n- `id` integer, `user_key` text, `detected_at` timestamp\n- `type` text, `description` text\n- `resolved` boolean (filter `resolved = FALSE` for open issues)\n\n### `pulse_reports` — every 2-hour analyst pulse\n- `id` bigint, `generated_at` timestamptz, `period_start`/`period_end` timestamptz\n- `sessions_active` int, `sessions_new` int, `bytes_in` bigint, `bytes_out` bigint\n- `events_total` int, `events_high` int, `events_medium` int, `events_critical` int\n- `top_source_ips` jsonb — array of `{source_ip, cnt}` objects\n- `top_event_types` jsonb — array of `{event_type, cnt}` objects\n- `anomalies_open` int\n- `summary` text, `important` boolean, `reason` text\n- `raw_payload` jsonb, `raw_claude_response` jsonb\n- `model_used` text, `input_tokens` int, `output_tokens` int\n\n### `purge_log` — eh-purge cron run history\n- `id` bigint, `started_at` timestamptz, `finished_at` timestamptz\n- `trigger` text — `'cron'`, `'manual'`, or `'capacity'`\n- `nvme_pct_before` int, `nvme_pct_after` int\n- `pcap_files` int, `pcap_bytes` bigint, `logs_files` int, `logs_bytes` bigint\n- `pg_dump_bytes` bigint, `vacuum_ok` boolean\n- `status` text — `'running'`, `'success'`, `'failed'`\n- `error` text\n\n### `memories` — semantic memory layer\n- `id` bigint, `created_at` timestamptz\n- `memory_type` text — exactly one of: `'incident'`, `'operator_pref'`, `'project_context'`, `'deployment'`, `'observation'`, `'conversation'`, `'reference'`\n- `title` text, `content` text\n- `embedding` vector(384) — search via `ORDER BY embedding <=> '[v1,v2,...]'::vector`\n- `metadata` jsonb, `source` text, `tags` text[] (Postgres array)\n- `importance` smallint (1-10)\n- `expires_at` timestamptz (NULL = permanent)\n- `superseded_by` bigint, `related_ids` bigint[]\n\nSteady-state baselines for pulse_reports (do NOT flag these as anomalous):\n- 1-5 distinct active users per 2h cycle\n- 50-200 GB inbound per 2h during active use\n- ~2,000-4,000 events_total per cycle (steady-state internet scanner noise)\n- ~400-700 events_high (almost all honeypot+fail2ban -- both routine)\n- top_event_types steadily contains: ssh_failure, ufw_block, honeypot, fail2ban\n\n## Your tools\n- **`query_db`** — execute SELECT queries on the PostgreSQL database. Read-only credential, will reject INSERT/UPDATE/DELETE at the DB level. Use this to answer 'what is happening' / 'what happened' questions with real data.\n- **`embed_text`** — embed a text string into a 384-dim vector via the local embedding service. Returns `{vector: [...], ms, model}`. Use as the FIRST step when searching memory semantically: embed the operator's question, then query_db with `SELECT title, content, memory_type, importance, ROUND((1 - (embedding <=> '[the,vector,as,csv]'::vector))::numeric, 4) AS sim FROM memories WHERE expires_at IS NULL OR expires_at > NOW() ORDER BY embedding <=> '[...]'::vector LIMIT 5`.\n\nWhen the operator asks 'remember when…' or 'has this happened before' or 'what's the pattern' — that's a memory-search question, use embed_text + query_db.\nWhen they ask 'what's happening right now' / 'how's the network' — query_db on pulse_reports / sessions / security_events.\nWhen they ask a procedural / how-to question, you may answer from your knowledge directly.\n\n\n\n## Special command: #TOKENS\n\nWhen the user message is exactly `#TOKENS` (case-insensitive, surrounding whitespace OK), do NOT do generic analysis. Instead:\n\n1. Call `query_db` with this single statement (uses UNION ALL to return both windows in one call):\n\n```sql\nSELECT 'pulse_24h' AS scope,\n       COALESCE(SUM(input_tokens),0) AS in_tok,\n       COALESCE(SUM(output_tokens),0) AS out_tok,\n       COUNT(*) AS calls\nFROM pulse_reports\nWHERE generated_at > NOW() - INTERVAL '24 hours'\nUNION ALL\nSELECT 'pulse_7d',\n       COALESCE(SUM(input_tokens),0),\n       COALESCE(SUM(output_tokens),0),\n       COUNT(*)\nFROM pulse_reports\nWHERE generated_at > NOW() - INTERVAL '7 days'\nUNION ALL\nSELECT 'jarvis_24h',\n       COALESCE(SUM(input_tokens),0),\n       COALESCE(SUM(output_tokens),0),\n       COUNT(*)\nFROM agent_token_log\nWHERE occurred_at > NOW() - INTERVAL '24 hours'\nUNION ALL\nSELECT 'jarvis_7d',\n       COALESCE(SUM(input_tokens),0),\n       COALESCE(SUM(output_tokens),0),\n       COUNT(*)\nFROM agent_token_log\nWHERE occurred_at > NOW() - INTERVAL '7 days';\n```\n\n2. Compute cost in USD using **Sonnet 4.6** pricing: input $3/M tokens, output $15/M tokens.\n   Cost = `in_tok * 3 / 1e6 + out_tok * 15 / 1e6`.\n\n3. Return ONLY a clean markdown table (no preamble, no recap line) with this exact shape:\n\n```\n| Scope | Calls | Input tok | Output tok | Cost |\n|---|---:|---:|---:|---:|\n| Pulse — last 24h | N | N | N | $0.00 |\n| Pulse — last 7d  | N | N | N | $0.00 |\n| JARVIS — last 24h| N | N | N | $0.00 |\n| JARVIS — last 7d | N | N | N | $0.00 |\n| **Total — 24h**  |   | N | N | **$0.00** |\n| **Total — 7d**   |   | N | N | **$0.00** |\n\nBurn rate: ~$X/day projected from 7d average.\n```\n\nRound costs to nearest cent. Round per-day burn to nearest cent. If both 24h scopes are 0, just say \"Quiet — no Anthropic API spend in the last 24h.\" instead of the empty table.\n\n## Output discipline\nBrief. Tables when comparing. Inline file/path/IP references in backticks. End substantive responses with a 1-2 line plain-English recap of what was done and why.\n{{ $('Format Memory Block').first().json.memoryBlock }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          208,
          0
        ],
        "id": "fbe8a0ed-7663-472d-b1ed-4f5ec89d6a56",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "claude-sonnet-4-6",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          80,
          208
        ],
        "id": "a4fa4965-51b9-48e7-8c7c-2f0948b761b4",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "597Hm2Aff3LRxmoY",
            "name": "EventHorizonVPN-Claude"
          }
        }
      },
      {
        "parameters": {
          "name": "embed_text",
          "description": "Embed a text string into a 384-dim vector via the local BAAI/bge-small-en-v1.5 model. Returns the vector as a pgvector literal string like \"[0.123,0.456,...,0.789]\" — paste this exact string (with the brackets) into query_db as: SELECT title, content FROM memories ORDER BY embedding <=> \"<paste_vector_here>\"::vector LIMIT 5. Input parameter: query (the text to embed).",
          "language": "javaScript",
          "jsCode": "// Embed the input text using the local embedding service.\n// Returns the 384-dim vector formatted as a pgvector literal string,\n// ready to paste into a query_db SQL call.\nconst resp = await this.helpers.httpRequest({\n  method: \"POST\",\n  url: \"http://127.0.0.1:8001/embed\",\n  body: { text: query },\n  json: true,\n});\nreturn JSON.stringify(resp.vector);\n"
        },
        "id": "ag-embed-tool",
        "name": "embed_text",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.2,
        "position": [
          800,
          380
        ]
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Execute a read-only SELECT query against EventHorizon's PostgreSQL database (eventhorizon DB). Returns rows as a JSON array. Available tables: sessions, security_events, anomalies, pulse_reports, purge_log, memories. The credential is restricted to SELECT — INSERT/UPDATE/DELETE will be rejected at the DB. For semantic memory search, first call embed_text to get the vector, then construct a query like: SELECT title, content FROM memories ORDER BY embedding <=> '[v1,v2,...,v384]'::vector LIMIT 5",
          "operation": "executeQuery",
          "query": "={{ $fromAI('query', 'a single SELECT statement, no semicolons in the middle, returning at most 50 rows', 'string') }}",
          "options": {}
        },
        "id": "ag-query-tool",
        "name": "query_db",
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.5,
        "position": [
          950,
          380
        ],
        "credentials": {
          "postgres": {
            "id": "puJS3lTAQpa20b9j",
            "name": "Postgres EventHorizon (agent read-only)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Sum token usage across every Anthropic Chat Model call in this conversation turn.\n// n8n's lmChatAnthropic exposes tokenUsage per invocation; .all() gives every call.\nlet inTok = 0, outTok = 0, calls = 0, model = '';\ntry {\n  const all = $('Anthropic Chat Model').all();\n  for (const c of all) {\n    const j = c?.json || {};\n    // tokenUsage shape varies between n8n versions / langchain versions\n    const u = j.tokenUsage || j.usage || j.response?.usage || j.response?.tokenUsage || {};\n    inTok  += u.promptTokens     || u.input_tokens  || u.prompt_tokens     || 0;\n    outTok += u.completionTokens || u.output_tokens || u.completion_tokens || 0;\n    if (!model) model = j.model || j.response?.model || u.model || '';\n    calls++;\n  }\n} catch (e) { /* swallow */ }\n\n// User message (best-effort) — for display in token log\nlet userMsg = '';\ntry {\n  userMsg = ($('When chat message received').first().json.chatInput || '').slice(0, 500);\n} catch (e) {}\n\n// Session id\nlet sessionId = '';\ntry {\n  sessionId = $('When chat message received').first().json.sessionId || '';\n} catch (e) {}\n\nreturn [{\n  json: {\n    session_id: sessionId,\n    model: model || 'claude-sonnet-4-6',\n    input_tokens: inTok,\n    output_tokens: outTok,\n    calls: calls,\n    user_message: userMsg,\n    agent_output: $('AI Agent').first().json?.output || ''\n  }\n}];\n"
        },
        "id": "ag-token-extract",
        "name": "Extract Token Usage",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          100
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO agent_token_log (session_id, model, input_tokens, output_tokens, user_message)\nVALUES ($1, $2, $3, $4, $5)\nRETURNING id;",
          "options": {
            "queryReplacement": "={{ [$json.session_id, $json.model, $json.input_tokens, $json.output_tokens, $json.user_message] }}"
          }
        },
        "id": "ag-token-log",
        "name": "Log Tokens",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1400,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "dQxOaWILJI9iNiQc",
            "name": "Postgres EventHorizon"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Embed the operator's chat input via the local BAAI/bge-small-en-v1.5 service\n// and build the SELECT SQL the next Postgres node will execute.\nconst userMsg = $('When chat message received').first().json.chatInput || '';\nlet vector = [];\nlet embedError = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://127.0.0.1:8001/embed',\n    body: { text: userMsg },\n    json: true,\n  });\n  vector = resp.vector || [];\n} catch (e) {\n  embedError = String(e).slice(0, 300);\n}\nconst vecLit = vector.length > 0 ? '[' + vector.join(',') + ']' : null;\nconst sql = vecLit\n  ? \"SELECT id, memory_type, title, content, importance, ROUND((1 - (embedding <=> '\" + vecLit + \"'::vector))::numeric, 4) AS similarity FROM memories WHERE expires_at IS NULL OR expires_at > NOW() ORDER BY embedding <=> '\" + vecLit + \"'::vector LIMIT 5\"\n  : 'SELECT NULL::bigint AS id, NULL::text AS memory_type, NULL::text AS title, NULL::text AS content, NULL::smallint AS importance, NULL::numeric AS similarity WHERE FALSE';\nreturn [{ json: { user_query: userMsg, vector_dim: vector.length, embed_error: embedError, sql } }];"
        },
        "id": "0362b3b0-f03d-4477-a509-0c95d8608f31",
        "name": "Embed Chat Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -260,
          -180
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.sql }}",
          "options": {}
        },
        "id": "09a3941f-7065-45c5-a041-c72358e6236e",
        "name": "Retrieve Chat Memories",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -100,
          -180
        ],
        "credentials": {
          "postgres": {
            "id": "puJS3lTAQpa20b9j",
            "name": "Postgres EventHorizon (agent read-only)"
          }
        }
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Format retrieved memory rows into a markdown block to inject\n// into the AI Agent system prompt as runtime context.\nconst rows = $input.all().map(item => item.json).filter(r => r && r.id != null);\nlet block = '';\nif (rows.length > 0) {\n  block = '\n\n## Past relevant context (semantic memory recall, auto-injected for this turn)\n\n';\n  block += 'The memories below are the top-K semantically most similar past memories to the operator's current question. Reference them when relevant; if you see a recurring pattern or a past incident matching, name it explicitly.\n\n';\n  for (const m of rows) {\n    const snippet = (m.content || '').slice(0, 300).replace(/\n/g, ' ');\n    block += '- **[' + m.memory_type + ']** *' + m.title + '* (importance ' + m.importance + ', similarity ' + m.similarity + '): ' + snippet + '\n';\n  }\n}\nreturn [{ json: { memoryBlock: block, retrieved_count: rows.length } }];"
        },
        "id": "e354abd0-05ad-41ab-ae98-156cf8e8feb9",
        "name": "Format Memory Block",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          60,
          -180
        ]
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "Embed Chat Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "embed_text": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "query_db": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Extract Token Usage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Token Usage": {
        "main": [
          [
            {
              "node": "Log Tokens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embed Chat Query": {
        "main": [
          [
            {
              "node": "Retrieve Chat Memories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve Chat Memories": {
        "main": [
          [
            {
              "node": "Format Memory Block",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Memory Block": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "a54918bc-0030-4f98-a346-15318c2e55df",
    "activeVersionId": "e195f655-9994-452c-a801-3727b75a38ff",
    "versionCounter": 56,
    "triggerCount": 1,
    "tags": [
      {
        "updatedAt": "2026-05-06T08:55:38.393Z",
        "createdAt": "2026-05-06T08:55:38.393Z",
        "id": "7YOIJeUfewL5ZmqU",
        "name": "Claude-powered AI agent"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-05-06T08:55:28.015Z",
        "createdAt": "2026-05-06T08:55:28.015Z",
        "role": "workflow:owner",
        "workflowId": "ko6bZHQs55jNsGYC",
        "projectId": "x8kKDDLsqLhtLoNp",
        "project": {
          "updatedAt": "2026-05-06T05:45:23.013Z",
          "createdAt": "2026-05-06T05:32:43.599Z",
          "id": "x8kKDDLsqLhtLoNp",
          "name": "Felix Franklin <admin@eventhorizonvpn.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "0e24fc2a-4986-4b2f-867b-6a5fdd2cfab5"
        }
      }
    ]
  }
]