n8n-workflows/eh-news-poll.json
{"updatedAt":"2026-05-12T02:47:50.732Z","createdAt":"2026-05-12T02:34:20.079Z","id":"hftFup2fZiRrRp9s","name":"EH-NEWS-POLL","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"62e0350a-20c2-4004-8150-a524062900d8","name":"Schedule Trigger"},{"parameters":{"url":"https://newsapi.org/v2/top-headlines?country=us&pageSize=20&category=technology","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"fa2f3bfc-49ef-456f-803d-cf0bb71d8e1f","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"od7uUqenkMnPAmyR","name":"EH-NewsAPI"}}},{"parameters":{"fieldToSplitOut":"articles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"b8e4eb70-c270-480a-ade2-8e8a3f4a70e6","name":"Split Out"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"news_articles","mode":"list","cachedResultName":"news_articles"},"columns":{"mappingMode":"defineBelow","value":{"fetched_at":"={{ $now }}","source":"={{ $json.source.name }}","title":"={{ $json.title }}","description":"= {{ $json.description }}","source_name":"={{ $json.source.name }}","author":"={{ $json.author }}","published_at":"={{ $json.publishedAt }}","article_url":"={{ $json.url }}","category":"technology","country":"US"},"matchingColumns":["article_url"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"fetched_at","displayName":"fetched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"article_url","displayName":"article_url","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"source_name","displayName":"source_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"author","displayName":"author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"published_at","displayName":"published_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"embedding","displayName":"embedding","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"raw_payload","displayName":"raw_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,0],"id":"0fb5c4ab-5594-499e-ae3e-457bdebe8a94","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c92c6c6-7f18-42e9-9a50-3cff2dc5cd9e","activeVersionId":"1c92c6c6-7f18-42e9-9a50-3cff2dc5cd9e","versionCounter":45,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-12T02:34:20.081Z","createdAt":"2026-05-12T02:34:20.081Z","role":"workflow:owner","workflowId":"hftFup2fZiRrRp9s","projectId":"x8kKDDLsqLhtLoNp","project":{"updatedAt":"2026-05-06T05:45:23.013Z","createdAt":"2026-05-06T05:32:43.599Z","id":"x8kKDDLsqLhtLoNp","name":"Felix Franklin <admin@eventhorizonvpn.com>","type":"personal","icon":null,"description":null,"creatorId":"0e24fc2a-4986-4b2f-867b-6a5fdd2cfab5"}}]}