n8n-workflows/eh-proxy-health-monitor.json
{
  "name": "EventHorizon Proxy Health Monitor v1.0",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ef21554d-618c-41d7-a694-e33d26addcd3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://PROXY_1_IP:50101",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "1ef073d1-f0f4-417e-87c6-eb1d937cd0d3",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://PROXY_2_IP:50101",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "ec46d365-33d4-4689-ae1a-41f6bd42b702",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://PROXY_3_IP:50101",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "0e77ac94-0f79-48fb-8375-a0488b81b4a5",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://PROXY_4_IP:50101",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "766d6061-e80b-4629-a259-315c1caad193",
      "name": "HTTP Request3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "admin@eventhorizonvpn.com",
        "toEmail": "admin@eventhorizonvpn.com",
        "subject": "=PROXY DOWN ({{ $('Health Check').first().json.fail_count }}/{{ $('Health Check').first().json.total }})",
        "html": "\u26a0\ufe0f EventHorizon Proxy Alert - One or more proxies failed health check. Please investigate immediately.",
        "options": {},
        "text": "={{ $('Health Check').first().json.email_body }}",
        "emailFormat": "text"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "id": "b52e535f-9f56-477e-a4ad-3d56ba6dd265",
      "name": "Send an Email",
      "webhookId": "093786cc-8a2c-4665-9835-ba7036bab52c",
      "credentials": {
        "smtp": {
          "id": "VeoMUuIkdw8TxmQT",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1456,
        0
      ],
      "id": "96437a79-40d7-4c75-b98d-7bdea565cc3e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1664,
        0
      ],
      "id": "4bf98cf2-74c1-458f-8d44-bf02bc90c6d9",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_ANTHROPIC_CRED_ID",
          "name": "EventHorizonVPN-Claude"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from 4 HTTP probes. continueOnFail upstream means each\n// node's $json carries either a real response or an .error key on failure.\nconst probes = [\n  { name: 'proxy-1 (PROXY_1_IP)', node: 'HTTP Request'  },\n  { name: 'proxy-2 (PROXY_2_IP)', node: 'HTTP Request1' },\n  { name: 'proxy-3 (PROXY_3_IP)',  node: 'HTTP Request2' },\n  { name: 'proxy-4 (PROXY_4_IP)',     node: 'HTTP Request3' },\n];\nconst results = probes.map(p => {\n  let item;\n  try { item = $(p.node).first().json; } catch (e) { item = null; }\n  if (!item) return Object.assign({}, p, { ok: false, detail: 'no response captured' });\n  if (item.error) {\n    const msg = (typeof item.error === 'string') ? item.error : (item.error.message || JSON.stringify(item.error));\n    return Object.assign({}, p, { ok: false, detail: String(msg).slice(0, 200) });\n  }\n  return Object.assign({}, p, { ok: true, detail: 'ok' });\n});\nconst failures = results.filter(r => !r.ok);\nconst is_failure = failures.length > 0;\nlet body = '';\nif (is_failure) {\n  body = 'EventHorizon proxy health check FAILED for ' + failures.length + ' of ' + results.length + ' proxies:\\n\\n';\n  for (const f of failures) body += '  - ' + f.name + ': ' + f.detail + '\\n';\n  body += '\\nAll probe results:\\n';\n  for (const r of results) body += '  ' + (r.ok ? '[OK]   ' : '[FAIL] ') + r.name + '\\n';\n}\nreturn [{ json: { is_failure, failures, results, email_body: body, fail_count: failures.length, total: results.length } }];\n"
      },
      "id": "ph-code-001",
      "name": "Health Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "phc1",
              "leftValue": "={{ $json.is_failure }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ph-if-001",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Any Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Failures?": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "eventhorizon"
    },
    {
      "name": "proxy-health"
    }
  ]
}
