n8n-workflows/eh-pulse-2h.json
{
  "name": "EH Network Pulse - 2h",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Every 2 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "WEBHOOK_PATH_PLACEHOLDER",
        "responseMode": "onReceived",
        "responseCode": 202,
        "responseData": "{\"status\":\"triggered\",\"workflow\":\"EH Network Pulse - 2h\"}",
        "options": {}
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Manual Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "WEBHOOK_ID_PLACEHOLDER"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "period_end",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "period_start",
              "value": "={{ $now.minus({hours: 2}).toISO() }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "ntfy_topic",
              "value": "eh-alerts-hayden-x7k2",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "ntfy_server",
              "value": "https://ntfy.sh",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Set Period & Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(DISTINCT user_key)::int FROM sessions WHERE connected_at >= $1::timestamptz AND (disconnected_at IS NULL OR disconnected_at >= $1::timestamptz)) AS sessions_active,\n  (SELECT COUNT(DISTINCT user_key)::int FROM sessions WHERE connected_at >= $1::timestamptz) AS sessions_new,\n  (SELECT COALESCE(SUM(bytes_in), 0)::bigint FROM sessions WHERE connected_at >= $1::timestamptz) AS bytes_in,\n  (SELECT COALESCE(SUM(bytes_out), 0)::bigint FROM sessions WHERE connected_at >= $1::timestamptz) AS bytes_out,\n  (SELECT COUNT(*)::int FROM security_events WHERE detected_at >= $1::timestamptz) AS events_total,\n  (SELECT COUNT(*)::int FROM security_events WHERE detected_at >= $1::timestamptz AND severity = 'high') AS events_high,\n  (SELECT COUNT(*)::int FROM security_events WHERE detected_at >= $1::timestamptz AND severity = 'medium') AS events_medium,\n  (SELECT COUNT(*)::int FROM security_events WHERE detected_at >= $1::timestamptz AND severity = 'critical') AS events_critical,\n  (SELECT COUNT(*)::int FROM anomalies WHERE resolved = FALSE) AS anomalies_open,\n  (SELECT COALESCE(json_agg(t), '[]'::json) FROM (\n    SELECT source_ip, COUNT(*)::int AS cnt FROM security_events\n    WHERE detected_at >= $1::timestamptz\n    GROUP BY source_ip ORDER BY cnt DESC LIMIT 5\n  ) t) AS top_source_ips,\n  (SELECT COALESCE(json_agg(t), '[]'::json) FROM (\n    SELECT event_type, COUNT(*)::int AS cnt FROM security_events\n    WHERE detected_at >= $1::timestamptz\n    GROUP BY event_type ORDER BY cnt DESC LIMIT 5\n  ) t) AS top_event_types;",
        "options": {
          "queryReplacement": "={{ $json.period_start }}"
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Query Aggregates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_PG_CRED_ID",
          "name": "Postgres EventHorizon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the Claude API request body from upstream data.\n// References:\n//   - Set Period & Topic    -> period_start, period_end, ntfy_topic\n//   - Query Aggregates      -> sessions_active, sessions_new, bytes_in, bytes_out,\n//                              events_total, events_high, events_medium,\n//                              events_critical, anomalies_open, top_source_ips,\n//                              top_event_types\n\nconst period   = $('Set Period & Topic').first().json;\nconst metrics  = $('Query Aggregates').first().json;\n\nconst payload = {\n  period_start:    period.period_start,\n  period_end:      period.period_end,\n  sessions_active: metrics.sessions_active,\n  sessions_new:    metrics.sessions_new,\n  bytes_in:        Number(metrics.bytes_in),\n  bytes_out:       Number(metrics.bytes_out),\n  events_total:    metrics.events_total,\n  events_high:     metrics.events_high,\n  events_medium:   metrics.events_medium,\n  events_critical: metrics.events_critical,\n  anomalies_open:  metrics.anomalies_open,\n  top_source_ips:  metrics.top_source_ips || [],\n  top_event_types: metrics.top_event_types || []\n};\n\nconst systemPrompt = `You are the AI ops analyst for EventHorizon VPN, a self-hosted privacy VPN running on a Vultr LA hub. Your job: review the network metadata pulse every 2 hours and flag anything that genuinely needs operator attention. The operator is solo, hands-on, and you are NOT his only line of defense — fail2ban, UFW, Suricata, and CrowdSec already react in real time. Your job is the 2h trend layer, not paging on every blocked scanner.\n\nThe operator is the SOLE user of this VPN — no customers. Logging exists for self-validation. Threat model: \"is the operator's own infrastructure leaking or under unusual attack?\"\n\nFields per pulse:\n- sessions_active / sessions_new: WireGuard peer connection counts in the period\n- bytes_in / bytes_out: aggregate traffic over WG tunnels\n- events_total / events_high / events_medium / events_critical: counts by severity\n- top_source_ips: top 5 attacker IPs with counts\n- top_event_types: top 5 event types with counts\n- anomalies_open: count of unresolved anomalies\n\nKNOWN BASELINE for THIS operator's hub (do NOT flag these as anomalies — they are the steady state):\n- sessions: 1-5 distinct active users per 2h cycle is normal. The operator is the SOLE primary user with occasional friends and family on the network — there are no customers. sessions_active counts distinct user_keys, not session rows. 0 is OK during quiet periods; >5 sustained warrants a look.\n- bandwidth: 50-200 GB inbound and 5-30 GB outbound per 2h is normal during active use (streaming, downloads, syncs)\n- events_total ~2,000-4,000 per cycle is steady-state public-IP scanner noise\n- events_high ~400-700 per cycle is normal — almost all of it is honeypot hits + fail2ban actions (the honeypot's literal job is to get hit; fail2ban's job is to ban repeat offenders). NEITHER is anomalous on its own.\n- events_medium ~1,000-1,500 (mostly ssh_failure, the SSH brute-force background)\n- top_event_types steadily contains: ssh_failure, ufw_block, honeypot, fail2ban\n\nFlag IMPORTANT = true ONLY if any of:\n  1. anomalies_open > 0 (the system itself flagged something)\n  2. events_critical > 0 (any critical event)\n  3. A NEW event_type appears in top_event_types that is NOT in {ssh_failure, ufw_block, honeypot, fail2ban} (suggests a novel attack vector or a new detection rule firing)\n  4. An internal WireGuard tunnel IP (10.8.0.0/24) appears in top_source_ips (would indicate a compromised peer or operator's own traffic tripping IDS rules — both worth a look)\n  5. events_high > 1,500 (>3x baseline — sustained heavy attack, not routine)\n  6. events_total > 25,000 (>5x baseline — burst attack)\n  7. sessions_active == 0 for two cycles in a row (operator has lost connectivity)\n  8. bandwidth pattern is structurally weird — e.g. bytes_out >> bytes_in (data exfiltration shape) or bytes_in suddenly 10x prior cycles\n\nDo NOT flag IMPORTANT just because events_high > 0 or sessions are above 30. Those are baseline.\n\nRespond ONLY with valid JSON, no other text:\n{\n  \"summary\": \"<2-3 sentence operator-friendly summary; mention the dominant event_type, any notable source IPs, and whether this is a quiet or busy cycle relative to baseline>\",\n  \"important\": <true|false>,\n  \"reason\": \"<one short sentence — which rule above fired; empty string if not important>\"\n}`;\n\nconst body = {\n  model: \"claude-sonnet-4-6\",\n  max_tokens: 600,\n  system: [\n    {\n      type: \"text\",\n      text: systemPrompt,\n      cache_control: { type: \"ephemeral\" }\n    }\n  ],\n  messages: [\n    {\n      role: \"user\",\n      content: \"Analyze this 2-hour pulse and return the JSON verdict:\\n\\n\" + JSON.stringify(payload, null, 2)\n    }\n  ],\n  output_config: {\n    format: {\n      type: \"json_schema\",\n      schema: {\n        type: \"object\",\n        properties: {\n          summary:   { type: \"string\" },\n          important: { type: \"boolean\" },\n          reason:    { type: \"string\" }\n        },\n        required: [\"summary\", \"important\", \"reason\"],\n        additionalProperties: false\n      }\n    }\n  }\n};\n\nreturn [{ json: { body, payload } }];"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_ANTHROPIC_CRED_ID",
          "name": "EventHorizonVPN-Claude"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Claude's JSON verdict from the response.\n// Claude returns content as an array of blocks; we want the first text block.\n\nconst response = $json;\nconst textBlock = (response.content || []).find(b => b.type === 'text');\nconst rawText = textBlock ? textBlock.text : '';\n\nlet verdict;\ntry {\n  // With output_config.format, the entire text block IS the JSON.\n  // As a fallback for chatty models, strip anything outside the first { ... }\n  // pair so a preamble or trailing prose doesn't break parsing.\n  let cleaned = rawText.trim();\n  const firstBrace = cleaned.indexOf('{');\n  const lastBrace  = cleaned.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace > firstBrace) {\n    cleaned = cleaned.slice(firstBrace, lastBrace + 1);\n  }\n  verdict = JSON.parse(cleaned);\n} catch (e) {\n  verdict = {\n    summary: 'Parse error: Claude response was not valid JSON. Raw text: ' + rawText.slice(0, 500),\n    important: true,\n    reason: 'Claude response failed to parse — investigate workflow'\n  };\n}\n\nconst usage = response.usage || {};\nconst payload = $('Build Claude Request').first().json.payload;\n\nreturn [{\n  json: {\n    // Verdict from Claude\n    summary:   verdict.summary || '',\n    important: verdict.important === true,\n    reason:    verdict.reason || '',\n    // Source metrics for the INSERT\n    period_start:    payload.period_start,\n    period_end:      payload.period_end,\n    sessions_active: payload.sessions_active,\n    sessions_new:    payload.sessions_new,\n    bytes_in:        payload.bytes_in,\n    bytes_out:       payload.bytes_out,\n    events_total:    payload.events_total,\n    events_high:     payload.events_high,\n    events_medium:   payload.events_medium,\n    events_critical: payload.events_critical,\n    anomalies_open:  payload.anomalies_open,\n    top_source_ips:  payload.top_source_ips,\n    top_event_types: payload.top_event_types,\n    // Raw + token usage\n    raw_payload:         payload,\n    raw_claude_response: response,\n    model_used:    response.model || 'claude-opus-4-7',\n    input_tokens:  usage.input_tokens || 0,\n    output_tokens: usage.output_tokens || 0,\n    // For ntfy push\n    ntfy_topic:  $('Set Period & Topic').first().json.ntfy_topic,\n    ntfy_server: $('Set Period & Topic').first().json.ntfy_server\n  }\n}];"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Parse Verdict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulse_reports (\n  period_start, period_end,\n  sessions_active, sessions_new, bytes_in, bytes_out,\n  events_total, events_high, events_medium, events_critical,\n  top_source_ips, top_event_types,\n  anomalies_open,\n  summary, important, reason,\n  raw_payload, raw_claude_response,\n  model_used, input_tokens, output_tokens\n) VALUES (\n  $1::timestamptz, $2::timestamptz,\n  $3::int, $4::int, $5::bigint, $6::bigint,\n  $7::int, $8::int, $9::int, $10::int,\n  $11::jsonb, $12::jsonb,\n  $13::int,\n  $14, $15::boolean, $16,\n  $17::jsonb, $18::jsonb,\n  $19, $20::int, $21::int\n) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.period_start, $json.period_end, $json.sessions_active, $json.sessions_new, $json.bytes_in, $json.bytes_out, $json.events_total, $json.events_high, $json.events_medium, $json.events_critical, JSON.stringify($json.top_source_ips), JSON.stringify($json.top_event_types), $json.anomalies_open, $json.summary, $json.important, $json.reason, JSON.stringify($json.raw_payload), JSON.stringify($json.raw_claude_response), $json.model_used, $json.input_tokens, $json.output_tokens] }}"
        }
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Insert Pulse Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_PG_CRED_ID",
          "name": "Postgres EventHorizon"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Parse Verdict').first().json.important }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $('Parse Verdict').first().json.events_critical }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c4",
              "leftValue": "={{ $('Parse Verdict').first().json.anomalies_open }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "If Important",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Verdict').first().json.ntfy_server }}/{{ $('Parse Verdict').first().json.ntfy_topic }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "EH Network Pulse - Attention Needed"
            },
            {
              "name": "Priority",
              "value": "high"
            },
            {
              "name": "Tags",
              "value": "warning,satellite_antenna"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $('Parse Verdict').first().json.summary }}\n\nReason: {{ $('Parse Verdict').first().json.reason }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Send ntfy Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 220]
    }
  ],
  "connections": {
    "Every 2 hours": {
      "main": [[{ "node": "Set Period & Topic", "type": "main", "index": 0 }]]
    },
    "Manual Webhook": {
      "main": [[{ "node": "Set Period & Topic", "type": "main", "index": 0 }]]
    },
    "Set Period & Topic": {
      "main": [[{ "node": "Query Aggregates", "type": "main", "index": 0 }]]
    },
    "Query Aggregates": {
      "main": [[{ "node": "Build Claude Request", "type": "main", "index": 0 }]]
    },
    "Build Claude Request": {
      "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]]
    },
    "Claude API": {
      "main": [[{ "node": "Parse Verdict", "type": "main", "index": 0 }]]
    },
    "Parse Verdict": {
      "main": [[{ "node": "Insert Pulse Report", "type": "main", "index": 0 }]]
    },
    "Insert Pulse Report": {
      "main": [[{ "node": "If Important", "type": "main", "index": 0 }]]
    },
    "If Important": {
      "main": [
        [{ "node": "Send ntfy Push", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "tags": [
    { "name": "eventhorizon" },
    { "name": "pulse" }
  ]
}
