n8n-workflows/eh-weather-poll.json
{"updatedAt":"2026-05-11T04:11:47.807Z","createdAt":"2026-05-11T03:14:39.016Z","id":"xYCE17v2NKBlaYHH","name":"EH-WEATHER-POLL","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-832,16],"id":"10268d27-3781-4414-a05c-4aff6427b1fe","name":"Schedule Trigger"},{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather","sendQuery":true,"queryParameters":{"parameters":[{"name":"lat","value":"=33.5225"},{"name":"lon","value":"-117.7076"},{"name":"units","value":"imperial"},{"name":"appid","value":"92fb875e3be76c2c5e6c48f0ce072ae8"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-544,16],"id":"c003112b-fed6-4456-8da1-5ce3e6c5622c","name":"HTTP Request"},{"parameters":{"jsCode":"const w = $input.first().json;\nreturn [{ json: {\n  lat: w.coord?.lat, \n  lon: w.coord?.lon, \n  location_label: 'operator-home',\n  current_temp_f: w.main?.temp, \n  feels_like_f: w.main?.feels_like,\n  today_high_f: w.main?.temp_max, \n  today_low_f: w.main?.temp_min,\n  conditions: w.weather?.[0]?.description || null,\n  summary: w.weather?.[0]?.main || null,\n  precipitation_chance: null,\n  wind_mph: w.wind?.speed, \n  humidity_pct: w.main?.humidity, \n  uv_index: null,\n  sunrise: w.sys?.sunrise ? new Date(w.sys.sunrise*1000).toISOString() : null,\n  sunset: w.sys?.sunset ? new Date(w.sys.sunset*1000).toISOString() : null,\n  raw_payload: w,\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,16],"id":"4af98212-dfc0-4fc2-b505-1aa51cf5d201","name":"Code in JavaScript"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"weather_snapshots","mode":"list","cachedResultName":"weather_snapshots"},"columns":{"mappingMode":"autoMapInputData","value":{"id":0,"lat":0,"lon":0,"current_temp_f":0,"feels_like_f":0,"today_high_f":0,"today_low_f":0,"precipitation_chance":0,"wind_mph":0,"humidity_pct":0,"uv_index":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"fetched_at","displayName":"fetched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"lat","displayName":"lat","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"lon","displayName":"lon","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"location_label","displayName":"location_label","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"current_temp_f","displayName":"current_temp_f","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"feels_like_f","displayName":"feels_like_f","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"today_high_f","displayName":"today_high_f","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"today_low_f","displayName":"today_low_f","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"conditions","displayName":"conditions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"precipitation_chance","displayName":"precipitation_chance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"wind_mph","displayName":"wind_mph","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"humidity_pct","displayName":"humidity_pct","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"uv_index","displayName":"uv_index","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sunrise","displayName":"sunrise","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sunset","displayName":"sunset","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"raw_payload","displayName":"raw_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,16],"id":"06e748bd-51e0-4362-a62f-2ec7abf40b64","name":"Insert rows in a table","credentials":{"postgres":{"id":"dQxOaWILJI9iNiQc","name":"Postgres EventHorizon"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cfd47448-9f49-4edc-8556-c4d26b859aff","activeVersionId":"cfd47448-9f49-4edc-8556-c4d26b859aff","versionCounter":87,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-11T03:14:39.018Z","createdAt":"2026-05-11T03:14:39.018Z","role":"workflow:owner","workflowId":"xYCE17v2NKBlaYHH","projectId":"x8kKDDLsqLhtLoNp","project":{"updatedAt":"2026-05-06T05:45:23.013Z","createdAt":"2026-05-06T05:32:43.599Z","id":"x8kKDDLsqLhtLoNp","name":"Felix Franklin <admin@eventhorizonvpn.com>","type":"personal","icon":null,"description":null,"creatorId":"0e24fc2a-4986-4b2f-867b-6a5fdd2cfab5"}}]}